<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>레이아웃2</title>
    <link type="text/css" href="../assets/css/import.css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      sizes="16x16"
      href="../../assets/img/favicon.ico"
    />
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/jquery-ui.js"></script>
    <script src="../assets/js/scrollbar.js"></script>
    <script src="../../assets/js/jscolor.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header>
        <!--S: header의 상단 -->
        <div class="top _tp02" id="topArea">
          <div class="col_L">
            <a href="#" class="logo">Tsurvey</a>
          </div>

          <div class="col_C fllow">
            <span class="active">설문편집</span>
            <span class="active">응답수집</span>
            <span>결과확인</span>
          </div>

          <div class="col_R">
            <button
              class="btn _bdno _auto _pgCreate"
              id="pageCreate"
              data-tooltip="새 설문 만들기"
            >
              <i class="ico _pageCreate"></i>
              <span class="txt">새 설문 만들기</span>
            </button>
            <button
              class="btn _bdno _auto _pgCreate _ico_ly"
              id=""
              data-tooltip="내 설문"
            >
              <i class="ico _pollPaper"></i>
              <span class="txt">내 설문</span>
              <em class="_numLabel">10</em>
            </button>
            <button
              class="btn _bdno _auto _pgCreate _ico_ly"
              id="pageCreate"
              data-tooltip="알림"
            >
              <i class="ico _myAlram"></i>
              <span class="txt">알림</span>
              <em class="_numLabel">10</em>
            </button>
            <div class="user">
              <span class="ico"></span>
              <span class="txt">사용자명</span>
            </div>
            <button
              class="btn _bdno _ico_ly menu"
              id="btn_menu"
              data-tooltip="메뉴"
            >
              <i class="ico _menu"></i>
              <span class="txt">메뉴</span>
            </button>
          </div>
        </div>
        <!--E: header의 상단 -->

        <!--S: header의 상단 유틸메뉴 -->
        <div class="top_util _tp02" id="utilArea">
          <div class="col_L">
            <div class="col_C fllow _type02">
              <span class="active">전체<em>1</em></span>
              <span class="active">제작중<em>5</em></span>
              <span>대기중<em>3</em></span>
              <span>답변 진행중<em>0</em></span>
              <span>종료<em>0</em></span>
            </div>
          </div>
          <div class="col_R">
            <button class="btn _bdno tp_txt _auto">
              <span class="txt">목록보기</span>
            </button>
            <button class="btn _bdno tp_txt _auto">
              <span class="txt">캘린더 보기</span>
            </button>
          </div>
        </div>
        <!--E: header의 상단 유틸메뉴 -->
      </header>
      <div class="container">
        <!--S: 좌측메뉴 -->
        <div class="lnb_wrap" id="lnbWrap">
          <div class="lnb_header">
            <span class="txt">메뉴</span>
            <button class="btn _bdno _ico_ly _auto_h" data-tooltip="이전으로">
              <i class="ico _menuol"></i>
              <span class="txt">메뉴설정</span>
            </button>
          </div>
          <div class="lnb_body scrollbar-outer">
            <div class="lnb_item_group">
              <button class="item_group_header" data-role="toggle">
                <span class="txt">기본설정</span>
              </button>
              <ul>
                <li>
                  <button
                    class="item _pollBanner"
                    id="survey_banner"
                    data-tooltip="배너"
                  >
                    <span class="txt">배너</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _pollIntro"
                    id="survey_intro"
                    data-tooltip="인트로"
                  >
                    <span class="txt">인트로</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _pollId"
                    id="survey_id"
                    data-tooltip="설문 ID"
                  >
                    <span class="txt">설문 ID</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _pollSubject"
                    id="survey_subject"
                    data-tooltip="설문제목"
                  >
                    <span class="txt">설문제목</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _progress"
                    id="progress_bar"
                    data-tooltip="진행률 바"
                  >
                    <span class="txt">진행률 바</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _btnSet"
                    id="button_set"
                    data-tooltip="버튼설정"
                  >
                    <span class="txt">버튼설정</span>
                  </button>
                </li>
              </ul>
            </div>

            <div class="lnb_item_group">
              <button class="item_group_header" data-role="toggle">
                <span class="txt">삽입항목</span>
              </button>
              <ul>
                <li>
                  <button
                    class="item _serveyIntro"
                    id="servey_intro2"
                    data-tooltip="소개글"
                  >
                    <span class="txt">소개글</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _justOne"
                    id="choice_one"
                    data-tooltip="객관식 한 개"
                  >
                    <span class="txt">객관식 한 개</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _multipleChoice"
                    id="choice_multi"
                    data-tooltip="객관식 복수"
                  >
                    <span class="txt">객관식 복수</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _dorpDown"
                    id="dropdown_type"
                    data-tooltip="드롭다운"
                  >
                    <span class="txt">드롭다운</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _rankForm"
                    id="ranking_type"
                    data-tooltip="순위형"
                  >
                    <span class="txt">순위형</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _mediaOne"
                    id="media_one"
                    data-tooltip="미디어 한 개"
                  >
                    <span class="txt">미디어 한 개</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _mediaMulti"
                    id="media_multi"
                    data-tooltip="미디어 복수 개"
                  >
                    <span class="txt">미디어 복수 개</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _mediaRank"
                    id="media_rank"
                    data-tooltip="미디어 순위형"
                  >
                    <span class="txt">미디어 순위형</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _rangeForm"
                    id="scale_type"
                    data-tooltip="척도형"
                  >
                    <span class="txt">척도형</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _starForm"
                    id="star_type"
                    data-tooltip="별점형"
                  >
                    <span class="txt">별점형</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _gridOne"
                    id="grid_one"
                    data-tooltip="격자형 한 개"
                  >
                    <span class="txt">격자형 한 개</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _gridMulti"
                    id="grid_multi"
                    data-tooltip="격자형 복수"
                  >
                    <span class="txt">격자형 복수</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _gridRank"
                    id="grid_rank"
                    data-tooltip="격자형 순위형"
                  >
                    <span class="txt">격자형 순위형</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _address"
                    id="address_type"
                    data-tooltip="주소"
                  >
                    <span class="txt">주소</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _answerLong"
                    id="discription_long"
                    data-tooltip="주관식 긴답변"
                  >
                    <span class="txt">주관식 긴답변</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _answerShort"
                    id="discription_short"
                    data-tooltip="주관식 짧은 답변"
                  >
                    <span class="txt">주관식 짧은 답변</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _dateForm"
                    id="dete_type"
                    data-tooltip="날짜형"
                  >
                    <span class="txt">날짜형</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _adverForm"
                    id="adver_type_banner"
                    data-tooltip="광고형 배너"
                  >
                    <span class="txt">광고형 배너</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _notiForm"
                    id="notice_type_banner"
                    data-tooltip="공지형 배너"
                  >
                    <span class="txt">공지형 배너</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item _lineForm"
                    id="divid_type"
                    data-tooltip="구분선"
                  >
                    <span class="txt">구분선</span>
                  </button>
                </li>
                <li>
                  <button
                    class="item __serveyEnd"
                    id="divid_type"
                    data-tooltip="구분선"
                  >
                    <span class="txt">구분선</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--E: 좌측메뉴 -->

        <!--S: 컨텐츠 -->
        <div id="contentsBody" class="contents">
          <!--S: 좌측메뉴 클릭시 설정 영역 노출 -->
          <div class="cotegoryView" id="cotegoryView">
            <div class="mdu_pannel mdu_pannel_form scroll_area">
              <div class="pannel_header">
                <h2 class="tit">설문 ID</h2>
                <div class="util">
                  <button class="btn _bdno _ico_ly">
                    <i class="ico _pannelRefresh"></i>
                    <span class="txt">리셋</span>
                  </button>
                  <button class="btn _bdno _ico_ly">
                    <i class="ico _pannelClose"></i>
                    <span class="txt">닫기</span>
                  </button>
                </div>
              </div>
              <div class="pannel_body scrollbar-outer">
                <div class="item_group">
                  <div class="item">
                    <div class="_comp comp_inputAndButton _wide">
                      <span class="_tit">설문 ID 입력</span>
                      <div class="_body _inputAndButtonWrap">
                        <input
                          type="text"
                          class="comm_input"
                          placeholder="ID를 입력하세요."
                          value=""
                        />
                        <button class="btn _header">
                          <span class="_txt">중복확인</span>
                        </button>
                      </div>
                      <p class="_sbt01 ar">
                        영문, 숫자 조합으로 12글자 입력 가능합니다
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--E: 좌측메뉴 클릭시 설정 영역 노출 -->

          <!--S: 설정에 적용 화면 노출 -->
          <div class="contentArea scrollbar-outer" id="contentArea">
            <div class="view_round _tp_style" style="width: 560px">
              <div class="view_round_header">
                <h2 class="tit">타이틀</h2>
              </div>
              <div class="subject _privateTit">타이틀</div>

              <div class="comp_rangeSliderWrap">
                <div
                  class="_rangeSlider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                  id="sliderTarget"
                >
                  <div
                    class="_rangeSlider_handle"
                    id="rangeSlider_handle"
                    style="width: 33%"
                  ></div>
                  <span
                    tabindex="0"
                    class="ui-slider-handle ui-corner-all ui-state-default"
                    style="left: 33%; pointer-events: none"
                    >0</span
                  >
                </div>
              </div>

              <div class="view_round_body">
                <div id="viewBody"></div>
              </div>
              <div class="_extra_area">
                <button class="btn _bdno _ico_ly wide">
                  <i class="ico _add"></i>
                  <span class="txt">추가</span>
                </button>
              </div>
              <div class="view_round_btm">
                <div class="_col_l">
                  <button
                    class="btn btn_praimary btn_rud100 btn_lager btn_fix _bdno _ico_ly"
                  >
                    <i class="ico _more_w"></i>
                    <span class="txt">더보기</span>
                  </button>
                </div>
                <div class="_col_r">
                  <button
                    class="btn btn_praimary btn_rud30 btn_lager _bdno tp_next"
                  >
                    <span class="txt">NEXT</span>
                    <i class="ico _next01_w"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--E: 설정에 적용 화면 노출 -->
        </div>
        <!--E: 컨텐츠 -->
      </div>
    </div>

    <!-- <script src="../config/default.js"></script> -->

    <!-- <script src="../components/top/survey_make_top.js"></script>
    <script src="../components/top/survey_make_util.js"></script>
    <script src="../components/lnb/lnb.js"></script>
    <script src="../components/page/pageBase.js"></script>
    <script src="../components/page/pages.js"></script>
    <script src="../components/SURVEY_ID/survey_id_write.js"></script>
    <script src="../components/SURVEY_SUBJECT/survey_subject_write.js"></script>
    <script src="../components/PROGRESS_BAR/survey_progressBar.js"></script>
    <script src="../components/SURVEY_INFO/survey_info.js"></script>
    <script src="../components/items/checkBox.js"></script>
-->
    <script src="../assets/js/commjs.js"></script>
    <script src="../assets/js/modal.js"></script>
    <script src="../assets/js/popup.js"></script>
    <script src="../assets/js/loading.js"></script>
    <script src="../assets/js/dropDown.js"></script>
    <script>
      //topAreaMakeTop("topArea");
      //utilAreaMakeTop("utilArea");
      //CreateLeftMenu("lnbWrap");
      //pageBase.init("contentArea");
      //pages.init("viewBody");

      $(window).on("resize", function () {
        $("#lnbWrap .scrollbar-outer").scrollbar();
        console.log($("#lnbWrap .scrollbar-outer"));
      });
      $(window).trigger("resize");
    </script>
  </body>
</html>
