<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>레이아웃2</title>
    <link type="text/css" href="../assets/css/import.css" rel="stylesheet" />
    <link rel="shortcut icon" sizes="16x16" href="../../assets/img/favicon.ico" />
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/jquery-ui.js"></script>
    <script src="../assets/js/scrollbar.js"></script>
    <script src="../../assets/js/jscolor.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header>
        <!--S: header의 상단 -->
        <div class="top" id="topArea">
          <div class="col_L">
            <a href="#" class="logo">Tsurvey</a>
          </div>

          <div class="col_C fllow">
            <span class="active">설문편집</span>
            <span class="active">응답수집</span>
            <span>결과확인</span>
          </div>

          <div class="col_R">
            <button class="btn _bdno _auto _pgCreate" id="pageCreate" data-tooltip="새 설문 만들기">
              <i class="ico _pageCreate"></i>
              <span class="txt">새 설문 만들기</span>
            </button>
            <span class="_sp_line"></span>
            <button class="btn _bdno _auto _ico_ly" id="" data-tooltip="내 설문">
              <i class="ico _pollPaper"></i>
              <span class="txt">내 설문</span>
              <em class="_numLabel">10</em>
            </button>
            <button class="btn _bdno _auto _ico_ly" id="pageCreate" data-tooltip="알림">
              <i class="ico _myAlram"></i>
              <span class="txt">알림</span>
              <em class="_numLabel">10</em>
            </button>
            <div class="user">
              <span class="ico"></span>
              <span class="txt">사용자명</span>
            </div>
            <button class="btn _bdno _ico_ly menu" id="btn_menu" data-tooltip="메뉴">
              <i class="ico _menu"></i>
              <span class="txt">메뉴</span>
            </button>
          </div>
        </div>
        <!--E: header의 상단 -->

        <!--S: header의 상단 유틸메뉴 -->
        <div class="top_util _tp02" id="utilArea">
          <div class="col_L">
            <div class="col_C fllow _type02">
              <span class="active">전체<em>1</em></span>
              <span class="active">제작중<em>5</em></span>
              <span>대기중<em>3</em></span>
              <span>답변 진행중<em>0</em></span>
              <span>종료<em>0</em></span>
            </div>
          </div>
          <div class="col_R">
            <button class="btn _bdno tp_txt _auto">
              <span class="txt">목록보기</span>
            </button>
            <button class="btn _bdno tp_txt _auto">
              <span class="txt">캘린더 보기</span>
            </button>
          </div>
        </div>
        <!--E: header의 상단 유틸메뉴 -->
      </header>
      <div class="container">
        <!--S: 컨텐츠 -->

        <div class="contents _ly_wide">
          <div class="mainContents">
            <div>
              <button type="button" class="btn" id="btn_pop01">새 설문 만들기</button>
              <button type="button" class="btn" id="btn_pop02">복사할 설문 선택</button>
              <button type="button" class="btn" id="btn_pop03">샘플 설문 선택</button>

              <!-- 새 설문 만들기 -->
              <div id="Popup01" class="commPopup tp_popup _tp_confirm_info">
                <div class="pop_header">
                  <h2 id="popTitle">회원가입 완료</h2>
                </div>
                <div class="pop_body">
                  <div class="new_poll_select">
                    <ul>
                      <li>
                        <span class="radio_b_wrap">
                          <input type="radio" class="chk" name="1" />
                          <span class="ico _startPoll1"></span>
                        </span>
                        <p>빈 설문으로 시작</p>
                      </li>
                      <li>
                        <span class="radio_b_wrap">
                          <input type="radio" class="chk" name="1" />
                          <span class="ico _startPoll2"></span>
                        </span>

                        <p>새 설문 만들기</p>
                      </li>
                      <li>
                        <span class="radio_b_wrap">
                          <input type="radio" class="chk" name="1" />
                          <span class="ico _startPoll3"></span>
                        </span>
                        <p>샘플 설문으로 시작</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="popup_footer">
                  <div class="btn_g">
                    <button type="button" class="btn btn_lager btn_rud10 btn_color06 btnCancle" data-popid="firstPopup">취소</button
                    ><button type="button" class="btn btn_lager btn_rud10 btn_praimary btnOk" data-popid="firstPopup">확인</button>
                  </div>
                </div>
                <button type="button" class="btn_close pop_close">
                  <span class="ico">닫기</span>
                </button>
              </div>
              <!--// 새 설문 만들기 -->

              <!-- 복사할 설문 선택 -->
              <div id="Popup02" class="commPopup tp_popup _tp_confirm_info">
                <div class="pop_header">
                  <h2 id="popTitle">회원가입 완료</h2>
                </div>
                <div class="pop_body">
                  <div class="poll_copy">
                    <div class="_comp comp_inputAndButton _wide">
                      <div class="_body">
                        <div class="_comp comp_select _wide">
                          <div class="_body">
                            <div class="_selectOuter">
                              <div class="_selectWrap">
                                <button class="_header">
                                  <span class="_selectText">자동차를 고를 때 중요한것은?</span>
                                </button>
                                <ul class="_list">
                                  <li><a class="_item _selected">1,2,3</a></li>
                                  <li><a class="_item">Q1,Q2,Q3</a></li>
                                  <li><a class="_item">번호없음</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup_footer">
                  <div class="btn_g">
                    <button type="button" class="btn btn_lager btn_rud10 btn_color06 btnCancle" data-popid="firstPopup">취소</button
                    ><button type="button" class="btn btn_lager btn_rud10 btn_praimary btnOk" data-popid="firstPopup">확인</button>
                  </div>
                </div>
                <button type="button" class="btn_close pop_close">
                  <span class="ico">닫기</span>
                </button>
              </div>
              <!--// 복사할 설문 선택 -->

              <!-- 샘플 설문 선택 -->
              <div id="Popup03" class="commPopup tp_popup _tp_confirm_info">
                <div class="pop_header">
                  <h2 id="popTitle">회원가입 완료</h2>
                </div>
                <div class="pop_body">
                  <div class="poll_list">
                    <div class="item _card _x2">
                      <div class="_card_L">
                        <div class="_imgAreaWrap">
                          <div class="_imgArea"></div>
                          <span class="_badge _P">P</span>
                        </div>
                      </div>
                      <div class="_card_R">
                        <div class="_cntArea">
                          <h2 class="_tit">설문제목</h2>
                          <div class="_subTxt">
                            <h3>Quick Survey (총 설문문항수)</h3>
                            <p>2023.12.01 08 : 28 : 20 ~ 2023.12.01 08 : 28 : 20</p>
                          </div>
                          <div class="_status">
                            <span class="_label">작성중</span>
                            <span>설문공개여부</span>
                            <span>설문테스트</span>
                            <span>보상방식</span>
                          </div>
                        </div>
                      </div>
                      <div class="_actionArea">
                        <button class="btn _bdno _ico_ly _action">
                          <i class="ico _action_w"></i>
                          <span class="txt">액션선택</span>
                        </button>
                        <div class="_actionBody">
                          <ul>
                            <li><button class="selected">설문편집</button></li>
                            <li><button class="">설문복사</button></li>
                            <li><button class="">설문삭제</button></li>
                            <li><button class="">답변확인</button></li>
                            <li><button class="">결과확인</button></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="item _card _x2">
                      <div class="_card_L">
                        <div class="_imgAreaWrap">
                          <div class="_imgArea"></div>
                          <span class="_badge _P">P</span>
                        </div>
                      </div>
                      <div class="_card_R">
                        <div class="_cntArea">
                          <h2 class="_tit">설문제목</h2>
                          <div class="_subTxt">
                            <h3>Quick Survey (총 설문문항수)</h3>
                            <p>2023.12.01 08 : 28 : 20 ~ 2023.12.01 08 : 28 : 20</p>
                          </div>
                          <div class="_status">
                            <span class="_label">작성중</span>
                            <span>설문공개여부</span>
                            <span>설문테스트</span>
                            <span>보상방식</span>
                          </div>
                        </div>
                      </div>
                      <div class="_actionArea">
                        <button class="btn _bdno _ico_ly _action">
                          <i class="ico _action_w"></i>
                          <span class="txt">액션선택</span>
                        </button>
                        <div class="_actionBody">
                          <ul>
                            <li><button class="selected">설문편집</button></li>
                            <li><button class="">설문복사</button></li>
                            <li><button class="">설문삭제</button></li>
                            <li><button class="">답변확인</button></li>
                            <li><button class="">결과확인</button></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="item _card _x2">
                      <div class="_card_L">
                        <div class="_imgAreaWrap">
                          <div class="_imgArea"></div>
                          <span class="_badge _P">P</span>
                        </div>
                      </div>
                      <div class="_card_R">
                        <div class="_cntArea">
                          <h2 class="_tit">설문제목</h2>
                          <div class="_subTxt">
                            <h3>Quick Survey (총 설문문항수)</h3>
                            <p>2023.12.01 08 : 28 : 20 ~ 2023.12.01 08 : 28 : 20</p>
                          </div>
                          <div class="_status">
                            <span class="_label">작성중</span>
                            <span>설문공개여부</span>
                            <span>설문테스트</span>
                            <span>보상방식</span>
                          </div>
                        </div>
                      </div>
                      <div class="_actionArea">
                        <button class="btn _bdno _ico_ly _action">
                          <i class="ico _action_w"></i>
                          <span class="txt">액션선택</span>
                        </button>
                        <div class="_actionBody">
                          <ul>
                            <li><button class="selected">설문편집</button></li>
                            <li><button class="">설문복사</button></li>
                            <li><button class="">설문삭제</button></li>
                            <li><button class="">답변확인</button></li>
                            <li><button class="">결과확인</button></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup_footer">
                  <div class="btn_g">
                    <button type="button" class="btn btn_lager btn_rud10 btn_color06 btnCancle" data-popid="firstPopup">취소</button
                    ><button type="button" class="btn btn_lager btn_rud10 btn_praimary btnOk" data-popid="firstPopup">확인</button>
                  </div>
                </div>
                <button type="button" class="btn_close pop_close">
                  <span class="ico">닫기</span>
                </button>
              </div>
              <!--// 샘플 설문 선택 -->
              <script>
                $("#btn_pop01 ").on("click", function (e) {
                  e.preventDefault();
                  let test = document.querySelector("#Popup01");
                  let pop = test.open({
                    popId: "Popup01",
                    headerTitle: "새 설문 만들기",
                    data: null,
                    width: 550,
                    height: null,
                    callBack: {
                      fnOk: "okCallFunction",
                      fnCancle: cancleClickFnc,
                    },
                  });
                  setTimeout(function () {
                    //test.close();
                    //console.log(pop.init())
                  }, 500);
                });

                $("#btn_pop02 ").on("click", function (e) {
                  e.preventDefault();
                  let test = document.querySelector("#Popup02");
                  let pop = test.open({
                    popId: "Popup02",
                    headerTitle: "복사할 설문 선택",
                    data: null,
                    width: 400,
                    height: null,
                    callBack: {
                      fnOk: "okCallFunction",
                      fnCancle: cancleClickFnc,
                    },
                  });
                  setTimeout(function () {
                    //test.close();
                    //console.log(pop.init())
                  }, 500);
                });

                $("#btn_pop03 ").on("click", function (e) {
                  e.preventDefault();
                  let test = document.querySelector("#Popup03");
                  let pop = test.open({
                    popId: "Popup03",
                    headerTitle: "샘플 설문 선택",
                    data: null,
                    width: 1200,
                    height: null,
                    callBack: {
                      fnOk: "okCallFunction",
                      fnCancle: cancleClickFnc,
                    },
                  });
                  setTimeout(function () {
                    //test.close();
                    //console.log(pop.init())
                  }, 500);
                });
                function okCallFunction(id) {
                  console.log("@@@@@@@@@@", id);
                  // document.querySelector("#" + id).close();
                }

                let okClickFnc = (e) => {
                  PopupClose(e.target);
                  console.log("외부=okClickFnc----", e, e.target);
                };

                let cancleClickFnc = (e) => {
                  PopupClose(e.target);
                  console.log("외부=cancleClickFnc====", e.target);
                };
              </script>
            </div>
            <!--S: 상단 검색영역 -->
            <div class="top_seatch_area">
              <div class="col_L">
                <ul>
                  <li class="item">
                    <span class="total">51,867개의 설문</span>
                  </li>
                  <li class="item">
                    <div class="_comp comp_select _block _lager _clickerable" id="conditions">
                      <div class="_body">
                        <div class="_selectOuter">
                          <div class="_selectWrap">
                            <button class="_header">
                              <span class="_selectText">1,2,3</span>
                            </button>
                            <ul class="_list">
                              <li><a class="_item _selected">1,2,3</a></li>
                              <li><a class="_item">Q1,Q2,Q3</a></li>
                              <li><a class="_item">번호없음</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="_comp comp_inputAndButton _wide">
                      <div class="_body _inputAndButtonWrap">
                        <input type="text" class="comm_input tp_lg" placeholder="검색어" />
                        <button class="btn btn_praimary btn_lager _header">
                          <span class="_txt">검색</span>
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col_R">
                <ul>
                  <li class="item">
                    <div class="_comp comp_select _block _lager _clickerable" id="pollKind">
                      <div class="_body">
                        <div class="_selectOuter">
                          <div class="_selectWrap">
                            <button class="_header">
                              <span class="_selectText">1,2,3</span>
                            </button>
                            <ul class="_list">
                              <li><a class="_item _selected">1,2,3</a></li>
                              <li><a class="_item">Q1,Q2,Q3</a></li>
                              <li><a class="_item">번호없음</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="_comp comp_select _block _lager _clickerable" id="pollStatus">
                      <div class="_body">
                        <div class="_selectOuter">
                          <div class="_selectWrap">
                            <button class="_header">
                              <span class="_selectText">1,2,3</span>
                            </button>
                            <ul class="_list">
                              <li><a class="_item _selected">1,2,3</a></li>
                              <li><a class="_item">Q1,Q2,Q3</a></li>
                              <li><a class="_item">번호없음</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="_comp comp_select _block _lager _clickerable" id="pollSort">
                      <div class="_body">
                        <div class="_selectOuter">
                          <div class="_selectWrap">
                            <button class="_header">
                              <span class="_selectText">1,2,3</span>
                            </button>
                            <ul class="_list">
                              <li><a class="_item _selected">1,2,3</a></li>
                              <li><a class="_item">Q1,Q2,Q3</a></li>
                              <li><a class="_item">번호없음</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!--E: 상단 검색영역 -->

            <!--S: 설문리스트 -->
            <div class="poll_list">
              <div class="item _card _x2">
                <div class="_card_L">
                  <div class="_imgAreaWrap">
                    <div class="_imgArea"></div>
                    <div class="_tag">
                      <span>#자동차</span>
                    </div>
                    <span class="_badge _P">P</span>
                  </div>
                </div>
                <div class="_card_R">
                  <div class="_cntArea">
                    <h2 class="_tit">설문제목</h2>
                    <div class="_subTxt">
                      <h3>Quick Survey (총 설문문항수)</h3>
                      <p>2023.12.01 08 : 28 : 20 ~ 2023.12.01 08 : 28 : 20</p>
                    </div>
                    <div class="_status">
                      <span class="_label">작성중</span>
                      <span>설문공개여부</span>
                      <span>설문테스트</span>
                      <span>보상방식</span>
                    </div>
                    <ul>
                      <li class="_wd"><span class="_sTit">최종수정일시</span>2023.12.01 08 :28 : 20</li>
                      <li><span class="_sTit">모집인원 </span>1,000,000</li>
                      <li><span class="_sTit">참여인원</span>300,000</li>
                    </ul>
                  </div>
                </div>
                <div class="_actionArea _clickerable">
                  <button class="btn _bdno _ico_ly _action actions">
                    <i class="ico _action_w"></i>
                    <span class="txt">액션선택</span>
                  </button>
                  <div class="_actionBody">
                    <ul>
                      <li><button class="selected">설문편집aa</button></li>
                      <li><button class="">설문복사</button></li>
                      <li><button class="">설문삭제</button></li>
                      <li><button class="">답변확인</button></li>
                      <li><button class="">결과확인</button></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="item _card _x2">
                <div class="_card_L">
                  <div class="_imgAreaWrap">
                    <div class="_imgArea"></div>
                    <div class="_tag">
                      <span>#자동차</span>
                    </div>
                    <span class="_badge _S">S</span>
                  </div>
                </div>
                <div class="_card_R">
                  <div class="_cntArea">
                    <h2 class="_tit">설문제목</h2>
                    <div class="_subTxt">
                      <h3>Quick Survey (총 설문문항수)</h3>
                      <p>2023.12.01 08 : 28 : 20 ~ 2023.12.01 08 : 28 : 20</p>
                    </div>
                    <div class="_status">
                      <span class="_label">작성중</span>
                      <span>설문공개여부</span>
                      <span>설문테스트</span>
                      <span>보상방식</span>
                    </div>
                    <ul>
                      <li class="_wd"><span class="_sTit">최종수정일시</span>2023.12.01 08 :28 : 20</li>
                      <li><span class="_sTit">모집인원 </span>1,000,000</li>
                      <li><span class="_sTit">참여인원</span>300,000</li>
                    </ul>
                  </div>
                </div>
                <div class="_actionArea _clickerable">
                  <button class="btn _bdno _ico_ly _action actions">
                    <i class="ico _action_w"></i>
                    <span class="txt">액션선택</span>
                  </button>
                  <div class="_actionBody">
                    <ul>
                      <li><button class="selected">설문편집</button></li>
                      <li><button class="">설문복사</button></li>
                      <li><button class="">설문삭제</button></li>
                      <li><button class="">답변확인</button></li>
                      <li><button class="">결과확인</button></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="item _card _x2">
                <div class="_card_L">
                  <div class="_imgAreaWrap">
                    <div class="_imgArea"></div>
                    <div class="_tag">
                      <span>#자동차</span>
                    </div>
                    <span class="_badge _L">L</span>
                  </div>
                </div>
                <div class="_card_R">
                  <div class="_cntArea">
                    <h2 class="_tit">설문제목</h2>
                    <div class="_subTxt">
                      <h3>Quick Survey (총 설문문항수)</h3>
                      <p>2023.12.01 08 : 28 : 20 ~ 2023.12.01 08 : 28 : 20</p>
                    </div>
                    <div class="_status">
                      <span class="_label">작성중</span>
                      <span>설문공개여부</span>
                      <span>설문테스트</span>
                      <span>보상방식</span>
                    </div>
                    <ul>
                      <li class="_wd"><span class="_sTit">최종수정일시</span>2023.12.01 08 :28 : 20</li>
                      <li><span class="_sTit">모집인원 </span>1,000,000</li>
                      <li><span class="_sTit">참여인원</span>300,000</li>
                    </ul>
                  </div>
                </div>
                <div class="_actionArea _clickerable">
                  <button class="btn _bdno _ico_ly _action actions">
                    <i class="ico _action_w"></i>
                    <span class="txt">액션선택</span>
                  </button>
                  <div class="_actionBody">
                    <ul>
                      <li><button class="selected">설문편집</button></li>
                      <li><button class="">설문복사</button></li>
                      <li><button class="">설문삭제</button></li>
                      <li><button class="">답변확인</button></li>
                      <li><button class="">결과확인</button></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="item _card _x2">
                <div class="_card_L">
                  <div class="_imgAreaWrap">
                    <div class="_imgArea"></div>
                    <div class="_tag">
                      <span>#자동차</span>
                    </div>
                    <span class="_badge _A">A</span>
                  </div>
                </div>
                <div class="_card_R">
                  <div class="_cntArea">
                    <h2 class="_tit">설문제목</h2>
                    <div class="_subTxt">
                      <h3>Quick Survey (총 설문문항수)</h3>
                      <p>2023.12.01 08 : 28 : 20 ~ 2023.12.01 08 : 28 : 20</p>
                    </div>
                    <div class="_status">
                      <span class="_label">작성중</span>
                      <span>설문공개여부</span>
                      <span>설문테스트</span>
                      <span>보상방식</span>
                    </div>
                    <ul>
                      <li class="_wd"><span class="_sTit">최종수정일시</span>2023.12.01 08 :28 : 20</li>
                      <li><span class="_sTit">모집인원 </span>1,000,000</li>
                      <li><span class="_sTit">참여인원</span>300,000</li>
                    </ul>
                  </div>
                </div>
                <div class="_actionArea _clickerable">
                  <button class="btn _bdno _ico_ly _action actions">
                    <i class="ico _action_w"></i>
                    <span class="txt">액션선택</span>
                  </button>
                  <div class="_actionBody">
                    <ul>
                      <li><button class="selected">설문편집</button></li>
                      <li><button class="">설문복사</button></li>
                      <li><button class="">설문삭제</button></li>
                      <li><button class="">답변확인</button></li>
                      <li><button class="">결과확인</button></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="item _nodata">
                <p>
                  <span>요청하신 검색어에 대한 검색결과가 없습니다.</span>
                  입력하신 검색어를 확인해 주세요
                </p>
              </div>
            </div>
            <!--E: 설문리스트 -->

            <!--S: 설문리스트 하단 버튼 -->
            <div class="listBtmArea">
              <button class="btn btn_praimary btn_rud30 btn_lager _bdno tp_next">
                <span class="txt">새 설문만들기</span>
                <i class="ico _next01_w"></i>
              </button>
            </div>

            <!--E: 설문리스트 하단 버튼 -->
          </div>
        </div>
        <!--E: 컨텐츠 -->
      </div>
    </div>

    <button type="button" class="btn" id="" onclick="test()">asdasasd</button>

    <!-- <script src="../config/default.js"></script> -->

    <!-- <script src="../components/top/survey_make_top.js"></script>
    <script src="../components/top/survey_make_util.js"></script>
    <script src="../components/lnb/lnb.js"></script>
    <script src="../components/page/pageBase.js"></script>
    <script src="../components/page/pages.js"></script>
    <script src="../components/SURVEY_ID/survey_id_write.js"></script>
    <script src="../components/SURVEY_SUBJECT/survey_subject_write.js"></script>
    <script src="../components/PROGRESS_BAR/survey_progressBar.js"></script>
    <script src="../components/SURVEY_INFO/survey_info.js"></script>
    <script src="../components/items/checkBox.js"></script>
-->
    <script src="../assets/js/commjs.js"></script>
    <script src="../assets/js/modal.js"></script>
    <script src="../assets/js/popup.js"></script>
    <script src="../assets/js/loading.js"></script>
    <script src="../assets/js/dropDown.js"></script>
    <script>
      //topAreaMakeTop("topArea");
      //utilAreaMakeTop("utilArea");
      //CreateLeftMenu("lnbWrap");
      //pageBase.init("contentArea");
      //pages.init("viewBody");

      let dataSet1 = [
        { code: "01", text: "전체" },
        { code: "02", text: "설문아이디" },
        { code: "03", text: "설문제목" },
        { code: "04", text: "이메일" },
        { code: "05", text: "그룹명" },
        { code: "06", text: "태그#필터" },
      ];

      let dataSet2 = [
        { code: "01", text: "POLL" },
        { code: "02", text: "SURVEY" },
        { code: "03", text: "LINK BANNER" },
        { code: "04", text: "AD" },
      ];

      let dataSet3 = [
        { code: "01", text: "제작중" },
        { code: "02", text: "승인요청" },
        { code: "03", text: "승인완료" },
        { code: "03", text: "오픈대기" },
        { code: "03", text: "진행중" },
        { code: "03", text: "종료" },
      ];

      let dataSet4 = [
        { code: "01", text: "최신 등록 순" },
        { code: "02", text: "지원적은순" },
        { code: "03", text: "마감 임박순" },
      ];

      const conditions = selectBox({
        targetId: "conditions",
        datas: null,
        slectItem: "2",
      });
      const pollKind = selectBox({
        targetId: "pollKind",
        datas: null,
        slectItem: "2",
      });
      const pollStatus = selectBox({
        targetId: "pollStatus",
        datas: dataSet3,
        slectItem: "0",
      });
      const pollSort = selectBox({
        targetId: "pollSort",
        datas: dataSet4,
        slectItem: "2",
      });

      function test() {
        console.log("sdsddfsfsdf", conditions.getItem(), conditions.getData(), conditions.getId(), conditions.getIndex());
        conditions.getItem();
      }

      $(window).on("resize", function () {
        $("#lnbWrap .scrollbar-outer").scrollbar();
      });
      $(window).trigger("resize");
    </script>
  </body>
</html>
