<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LNB</title>
    <link type="text/css" href="../assets/css/import.css" rel="stylesheet" />
    <link type="text/css" href="../assets/css/simplebar.css" rel="stylesheet" />
    <script type="text/javascript" src="../assets/js/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="../assets/js/simplebar.min.js"></script>
  </head>
  <body>
    <div class="lnb_wrap">
      <div class="lnb_header">메뉴</div>
      <div class="lnb_body">
        <div class="lnb_item_group">
          <button class="item_group_header">고정항목</button>
          <ul>
            <li>
              <button class="item">설문 ID</button>
            </li>
            <li>
              <button class="item">설문제목</button>
            </li>
            <li>
              <button class="item">진행률 바</button>
            </li>
            <li>
              <button class="item">버튼설정</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
