@charset "UTF-8";

:root {
  --main01: #3617ce;
  --main01Over: #401fe1;
  --main02: #ff404e;
  --main03: #f7b753;
  --main04: #897fea;

  --sub01: #443085;
  --sub02: #df1384;
  --sub03: #fce0eb;

  --bg: #f6f9ff;
  --bg2: #f6f9ff;
  --trans: transparent;

  --fntMain: #373f57;
  --fntTit01: #1a2217;
  --fntTxt02: #3c4766;
  --fntTxt03: #7c8a9f;

  --color01: #373f57;
  --color01Over: #242d49;
  --color02: #1a2217;
  --color03: #3c4766;
  --color03Over: #475a8f;
  --color04: #e2e8f0;
  --color05: #7c8a9f;
  --color06: #f6f9ff;
  --color06Over: #f6f9ff;
  --color07: #e8efff;
  --color08: #f6f9ff;
  --color09: #3617ce;
  --color10: #fafcff;
  --color11: #ebedf8;

  --tbIco: #e2e8f0;
  --cell: #f6f9ff;
  --bar: #aabfe4;

  --line01: #cbd5e1;
  --line02: #7c8a9f;

  --black1: #000;
  --black2: #222;
  --black3: #333;

  --white: #fff;

  --good: #3617ce;
  --danger: #ff404e;
  --edit: #ff404e;
  --safe: #f7b753;
}
