@charset "UTF-8";
._comp {
  /* min-height: 38px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
div[class^="_comp"] .btn {
  border-radius: 6px;
}

._f1 {
  flex: 1 !important;
}

._columnGroup > ._comp + ._comp {
  margin-top: 7px;
}

._comp._wide {
  display: block !important;
}
._inline {
  display: flex !important;
}
._comp._wide > ._body {
  width: 100%;
}

._comp._block {
  display: block !important;
}
._comp._block > ._body {
  min-width: 150px;
}
._comp._lager > ._body > ._selectOuter {
  min-height: 50px;
}
._comp ._fix9 {
  flex: 0.9;
}
._comp ._body {
  flex-shrink: 0;
  width: 60%;
  height: 100%;
  /* min-height: 38px; */
  position: relative;
}

._comp ._tit {
  padding: 5px 0 7px 0;
  display: block;
  font-size: 14px;
  color: var(--color05);
  flex: 0 0 auto;
  font-weight: 400;
}
._comp._wide > ._tit,
._comp ._tit._color01 {
  color: var(--color01);
  font-weight: 500;
}
._comp ._sbt01 {
  padding: 3px 0 0 0;
  font-size: 12px;
  color: var(--color05);
}
/* 컬러입력 */
.comp_colorInsert {
}

/* 투명도 조절 */
.comp_alphaRange {
}

/* 모서리 조절 */
.comp_radius {
}

/* 흐림효과 조절 */
.comp_blur {
}

/* 셀렉트 */
/* .comp_select {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
} */
/* .comp_select ._tit {
  flex: 0 0 auto;
} */
.comp_select ._selectOuter {
  min-height: 38px;
  position: relative;
}
.comp_select ._selectWrap {
  width: 100%;
  min-height: inherit;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--color06);
  border: 1px solid var(--line01);
  border-radius: 6px;
  z-index: 100;
}
.comp_select ._selectWrap._active {
  z-index: 110;
}
.comp_select ._selectWrap._left {
  left: 0;
}
.comp_select ._selectWrap > ._header {
  width: 100%;
  min-height: inherit;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}
.comp_select ._selectWrap > ._header ._selectText {
  flex: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  color: var(--color05);
}
.comp_select ._selectWrap > ._header:after {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/ico/d/arrow_drop_down_b.svg");
}
.comp_select ._selectWrap > ._list {
  width: 100%;
  padding: 0 0 10px 0;
  /* position: absolute; */
  /* left: 0; */
  display: none;
  /* background-color: var(--white); */
}
.comp_select ._selectWrap > ._header._active + ._list {
  display: block;
}
.comp_select ._selectWrap > ._list ._item {
  padding: 4px 10px;
  display: block;
  cursor: pointer;
}
.comp_select ._selectWrap > ._list ._item:hover,
.comp_select ._selectWrap > ._list ._item:focus {
  background-color: var(--color07);
}

._fromto {
}
._fromto > div:first-child,
._fromto > div:last-child {
  width: 45%;
}
._fromto > div:first-child > ._body,
._fromto > div:last-child > ._body {
  flex: 1;
}

._targetAdd {
  width: 100%;
  height: 47px;
  background-color: var(--color06);
  justify-content: left;
}
._targetAdd .ico {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
._targetAdd .ico:before {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/img/ico/d/ico_plus.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.comp_select ._selectWrap > ._list ._item._selected {
  background-color: var(--color09);
  color: var(--white);
}

/* input + button형 */
.comp_inputAndButton {
}

.comp_inputAndButton ._inputAndButtonWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comp_inputAndButton ._inputAndButtonWrap .comm_input {
  /* flex-basis: 75%; */
  flex: 0.98;
}
.comp_inputAndButton ._inputAndButtonWrap .btn {
  flex-basis: 24%;
  /* flex-basis: auto; */
}

.comp_input {
}
.comp_textarea ._comp_inputWrap {
  display: flex;
  justify-content: space-between;
}

/* textarea형 */
.comp_textarea {
}
.comp_textarea ._comp_textareaWrap {
  display: flex;
  justify-content: space-between;
}
.comp_textarea ._comp_textareaWrap .comm_input {
  height: 90px;
  padding: 15px;
  flex-basis: 100%;
}
.comp_textarea ._comp_textareaWrap .btn {
  flex-basis: 29%;
}

.comp_rangeSliderWrap {
  height: 70px;
  position: relative;
}
.comp_rangeSliderWrap ._rangeSlider {
  width: 100%;
  height: 10px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  background-color: var(--color07) !important;
}
.comp_rangeSliderWrap ._rangeSlider_handle {
  width: 0;
  height: inherit;
  background-color: var(--color09) !important;
  border-radius: 4px;
}
.comp_rangeSliderWrap ._rangeSlider_handle + .ui-slider-handle {
  width: 56px !important;
  height: 28px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  text-align: center;
  line-height: 1.6em;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  border-radius: 30px !important;
  -ms-touch-action: none;
  touch-action: none;
  line-height: 2;
  background-color: var(--color09) !important;
  color: var(--white) !important;
  border: none !important;
  outline: 0 !important;
}

.comp_textTyppingArea {
  background-color: var(--color07);
  border-radius: 20px;
}
.comp_textTyppingArea ._tit {
  padding: 10px 10px 0px 10px;
  font-size: 16px;
  color: var(--black1);
}
.comp_textTyppingArea ._typping {
  padding: 10px;
  color: var(--black1);
}

._extra_area {
  padding: 10px 0;
}

._tp_style .comp_textTyppingArea {
  margin: 0 0 40px 0;
}
._tp_style .comp_questArea {
  /* margin: 0 -15px; */
  padding: 25px;
  background-color: var(--color06);
  position: relative;
}

._tp_style .comp_questArea ._typping {
  /* min-height: 180px;
  padding: 10px 0; */
  padding: 0 0 10px 0;
}

.comp_questArea {
  padding: 25px;
  background-color: var(--color06);
  position: relative;
}
.comp_questArea ._tit {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: var(--black1);
}

.comp_questArea ._typping {
  /* min-height: 180px; */
}

.comp_questArea ._status,
.comp_questArea ._actions {
  position: absolute;
  top: -15px;
}

.comp_questArea:hover ._status,
.comp_questArea:hover ._actions {
  display: block !important;
}

.comp_questArea ._status {
  left: 10px;
  display: none;
}

.comp_questArea ._actions {
  padding: 2px 10px;
  background-color: var(--color05);
  right: 10px;
  border-radius: 30px;
  top: -10px;
  display: none;
}

.comp_questArea ._actions > button {
  height: auto;
  padding: 0;
  background-color: transparent;
}

.comp_questArea ._actions > button.btn .ico:before {
  background-size: auto;
}

.comp_itemList {
  background-color: var(--color08);
  border: 1px solid var(--line01);
}
.comp_itemList > ._item {
  min-height: 36px;
  display: flex;
  align-items: center;
}

.comp_itemList > ._item > ._itemClick {
  width: 100%;
  height: inherit;
  padding: 7px;
  text-align: left;
  font-weight: 500;
}
.comp_itemList > ._item:hover,
.comp_itemList > ._item:hover > ._itemClick {
  color: var(--main01);
}
.comp_itemList > ._item + ._item {
  border-top: 1px solid var(--line01);
}

.comp_itemList > ._item._inAction ._itemArea {
  min-height: 36px;
  display: flex;
  align-items: center;
  padding: 0 8px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.comp_itemList > ._item._inAction .btn {
  height: auto;
  padding: 5px;
  background-color: transparent;
}
.comp_itemList > ._item._inAction .btn .ico:before {
  background-size: auto;
}

.comp_itemList > ._item._logic,
.comp_itemList > ._item._inAction {
  display: block;
}

.comp_itemList > ._item._inAction._logic .setting_preView_wrap {
  width: 100%;
  padding: 10px;
  border-top: 1px solid var(--line01);
  background-color: var(--color10);
}

.comp_itemList > ._item._inAction._logic .setting_preView_wrap .item_list {
  background-color: var(--color08);
  border: 1px solid var(--line01);
}
.comp_itemList > ._item._inAction._logic .setting_preView_wrap .item_list .item {
  padding: 5px 10px;
  display: flex;
  font-size: 13px;
  color: var(--color05);
  font-weight: 400;
}
.comp_itemList > ._item._inAction._logic .setting_preView_wrap .item_list .item h2 {
  width: 50px;
  font-size: 13px;
}
.comp_itemList > ._item._inAction._logic .setting_preView_wrap .item_list .item + .item {
  border-top: 1px solid var(--line01);
}
.comp_itemList > ._item._inAction._logic .setting_preView_wrap .item_list .item .end {
  margin-left: auto;
}

.comp_basicList {
  padding: 10px;
  border-bottom: 1px solid var(--line01);
}
.comp_basicList ._item {
  padding: 5px 0;
}

._itemAddDelWrap {
}
.comp_itemAddDelWrap ._itemAddDelBody {
  display: flex;
  position: relative;
}
.comp_itemAddDelWrap ._itemAddDelBody ._first {
  flex: 1;
}
.comp_itemAddDelWrap ._itemAddDelBody ._btn_g {
  display: flex;
  padding: 0 0 0 5px;
}

.comp_fluid {
  display: flex;
  justify-content: space-between;
}
.comp_fluid._col_4_6 ._item:first-child {
  width: 40%;
}
.comp_fluid._col_4_6 ._item:first-child + ._item {
  width: 59%;
}
.comp_fluid ._item {
}

._cr_listWrap._cols {
  display: flex;
}
._cr_listWrap._cols > ._cr_item {
  flex: 1;
}
._cr_listWrap > ._cr_item {
  padding: 5px 0;
}
._cr_listWrap > ._cr_item .check_b_wrap .ico:before {
  background-image: url(../../assets/img/ico/d/ico_unChk_dis.svg);
}
._cr_listWrap > ._cr_item ._cr_itemChild {
  padding: 5px 0 5px 22px;
}
._inp_color {
}

._inp_color .comm_input {
  width: 100%;
  /* padding: 0; */
  text-align: right;
  /* border: none; */
}

.comp_answerAddWrap {
}
.comp_answerAddWrap ._answerAddItemOuter {
}
.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem,
.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._filedInp {
  display: flex;
}
.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._filedInp {
  margin-bottom: 4px;
}

.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem._tpMedia {
}

.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem._tpMedia ._filed {
  width: calc(100% - 76px);
  padding: 0 0 0 5px;
  display: flex;
  flex-direction: column;
}
.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem._tpMedia ._image {
  flex: 1;
  border-radius: 6px;
  background-color: var(--color06);
  border: 1px solid var(--line01);
  background-image: url(../../assets/img/ico/d/ico_noimage.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 19px 15px;
}

.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem + ._answerAddItem {
  margin-top: 5px;
}
.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._handle {
  width: 17px;
  background-image: url(../../assets/img/ico/d/ico_handle.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-size: 0;
  background-color: var(--color06);
  border: 1px solid var(--line01);
  border-radius: 6px;
  cursor: move;
}
.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._inp_wrap {
  width: calc(100% - 80px);
  margin: 0 0 0 4px;
  display: flex;
}
.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._inp_wrap .comm_input._tp_txt {
  flex: 1;
}
.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._inp_wrap .comm_input._tp_num {
  width: 40px;
  min-width: 40px;
  margin: 0 0 0 5px;
  display: none;
}
.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._inp_wrap .comm_input._tp_score {
  width: 40px;
  min-width: 40px;
  padding: 0 5px;
  margin: 0 0 0 5px;
  text-align: center;
}
.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._inp_wrap .comm_input._tp_num._active {
  display: block;
}
.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._btn_g {
  display: flex;
  margin-left: auto;
  padding: 0 0 0 4px;
}
.comp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._btn_g .btn {
  padding: 0 4px;
}
.comp_answerAddWrap ._answerAddItemOuter ._answerAddItemPlaceholder {
  height: 36px;
  margin-bottom: 5px;
  background-color: var(--color06);
  border-radius: 6px;
}
.comp_answerAddWrap ._answerAddItemOuter ._tpMedia + ._answerAddItemPlaceholder {
  height: 76px;
}

._imgArea {
  min-height: 180px;
  margin: 10px 0 0 0;
  background-color: var(--color07);
  background-image: url(../../assets/img/ico/d/ico_noimage.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 12px;
  overflow: hidden;
}
._imgArea ._img {
}

._answerListArea,
._answerMultiListArea {
  margin: 5px 0 0 0;
}
._answerListArea ._answerListItemOuter,
._answerMultiListArea ._answerListItemOuter {
}
._answerListArea ._answerListItemOuter ._answerListItem,
._answerMultiListArea ._answerListItemOuter ._answerListItem {
  display: flex;
  align-items: center;
  padding: 7px 0;
}
._answerListArea ._answerListItemOuter ._answerListItemEtc div.comm_input,
._answerMultiListArea ._answerListItemOuter ._answerListItemEtc div.comm_input {
  background-color: var(--white);
}
._answerListArea ._answerListItemOuter ._answerListItem ._ico,
._answerMultiListArea ._answerListItemOuter ._answerListItem ._ico {
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 16px;
}

._answerListArea._tpMedia {
  display: flex;
}
._answerListArea._tpMedia ._answerListItemOuter {
  width: 24%;
  padding: 5px;
  margin: 0 2% 0 0;
  border: 1px solid var(--line01);
  background-color: var(--white);
  border-radius: 6px;
}

._answerListArea._tpMedia ._answerListItemOuter ._answerListItem {
  padding: 0;
  flex-direction: column;
}

._answerListArea._tpMedia ._answerListItemOuter ._answerListItem ._mediaImg {
  width: 100%;
  height: 100px;
  border: 1px solid var(--line01);
  background-color: var(--color07);
  background-image: url(../../assets/img/ico/d/ico_noimage.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 6px;
  overflow: hidden;
  background-size: 25px 24px;
}
._answerListArea._tpMedia ._answerListItemOuter ._answerListItem ._infoTxt {
  padding: 7px 0;
  text-align: center;
  word-break: keep-all;
}

._answerListArea ._answerListItemOuter ._answerListItem ._ico,
._answerListArea._tpMedia ._answerListItemOuter ._answerListItem ._ico {
  background-image: url(../../assets/img/ico/d/ico_unRad.svg);
}
._answerListArea._tpMedia ._answerListItemOuter ._answerListItem ._ico {
  margin: 5px 0 5px 0;
}

._answerMultiListArea ._answerListItemOuter ._answerListItem ._ico,
._answerMultiListArea._tpMedia ._answerListItemOuter ._answerListItem ._ico {
  background-image: url(../../assets/img/ico/d/ico_unChk.svg);
}

._dropDownArea {
  position: relative;
}
._dropDownArea ._dropDownHeader {
  height: 50px;
  background-color: var(--white);
  border: 1px solid var(--line01);
  border-radius: 6px;
  display: flex;
  align-items: center;
  position: relative;
}
._dropDownArea ._dropDownHeader ._txt {
  padding: 0 0 0 15px;
  font-size: 14px;
  color: var(--color05);
}
._dropDownArea ._dropDownHeader ._arrow {
  width: 20px;
  height: 20px;
  background-image: url(../../assets/img/ico/d/arrow_drop_down_b.svg);
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
._dropDownArea ._dropDownBody {
  padding: 10px 0;
  margin: 5px 0 0 0;
  background-color: var(--white);
  border: 1px solid var(--line01);
  border-radius: 6px;
}
._dropDownArea ._dropDownBody ._dropDownItem {
  padding: 7px 15px;
}

.comp_rangeShape {
  justify-content: flex-start;
}
.comp_rangeShape ._tit {
  flex: 1;
}

.comp_rangeShape ._ico {
  width: 36px;
  height: 36px;
  background-image: url(../../assets/img/ico/d/ico_range.svg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  font-size: 0;
}

._answerRangeShape {
}
._answerRangeShapeItemOuter {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
}
._answerRangeShapeItemOuter:after {
  height: 1px;
  content: "";
  display: block;
  clear: both;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  background-color: var(--color03);
}

._answerRangeShapeItemOuter ._answerRangeShapeItem {
  text-align: center;
  position: relative;
  z-index: 2;
}

._answerRangeShapeItemOuter ._answerRangeShapeItem + ._answerRangeShapeItem {
  /* margin-left: 20px; */
}
._answerRangeShapeItemOuter ._answerRangeShapeItem ._num {
}
._answerRangeShapeItemOuter ._answerRangeShapeItem ._shape {
  width: 32px;
  height: 32px;
  border: 2px solid var(--color03);
  background-color: var(--white);
  border-radius: 50%;
}

.comp_star {
  justify-content: flex-start;
}
.comp_star ._tit {
  flex: 1;
}

.comp_star ._ico {
  width: 36px;
  height: 36px;
  background-image: url(../../assets/img/ico/d/ico_star.svg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  font-size: 0;
}

._answerStar {
  display: flex;
  position: relative;
  align-items: center;
}
._answerStar ._score {
  padding: 0 0 0 20px;
}
._answerStarItemOuter {
  display: flex;
  position: relative;
}

._answerStarItemOuter ._answerStarItem + ._answerStarItem {
  margin-left: 20px;
}
._answerStarItemOuter ._answerStarItem ._num {
}
._answerStarItemOuter ._answerStarItem ._star {
  width: 46px;
  height: 46px;
  background-image: url(../../assets/img/ico/d/ico_star_stroke.svg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 46px;
}

._answerGridArea {
  border-top: 2px solid var(--color05);
  border-bottom: 2px solid var(--color05);
}

._answerGridArea ._answerGridHeader {
  display: flex;
  align-items: center;
}
._answerGridArea ._answerGridHeader ._colItemGroup ._colItem,
._answerGridArea ._answerGridBody ._colItemGroup ._colItem {
  flex: 1;
  text-align: center;
}

._answerGridArea ._colItem ._ico {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url(../../assets/img/ico/d/ico_unRad.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 16px;
}

._answerGridArea._multi ._colItem ._ico {
  background-image: url(../../assets/img/ico/d/ico_unChk.svg);
}

._answerGridArea ._colItem._blank,
._answerGridArea ._colItem._quest {
  width: 20%;
}
._answerGridArea ._answerGridBody ._answerGridRow {
  display: flex;
  align-items: center;
}
._answerGridArea ._answerGridHeader ._headerItem {
}

._answerGridArea ._answerGridBody {
}
._answerGridArea ._answerGridBody ._answerGridRow {
  border-top: 1px solid var(--color07);
}

._answerGridArea ._answerGridBody ._answerGridRow,
._answerGridArea ._answerGridHeader {
  min-height: 40px;
}

._answerGridArea ._answerGridHeader ._colItemGroup,
._answerGridArea ._answerGridBody ._answerGridRow ._colItemGroup {
  flex: 1;
  display: flex;
}

._typingAnswerArea {
}
._typingAnswerArea ._typingAnswerBody {
  height: 230px;
  padding: 13px;
  background-color: var(--white);
  border: 1px solid var(--line01);
  border-radius: 6px;
}

._typingAnswerArea._short ._typingAnswerBody {
  height: 50px;
}
._typingAnswerArea ._typingAnswerBody + p {
  padding: 3px 0 0 0;
  font-size: 12px;
  color: var(--color05);
  text-align: right;
}

._card {
  padding: 10px;
  border: 1px solid var(--line01);
  background-color: var(--white);
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
._card ._tag {
  padding: 7px 0 0 0;
}

._card ._card_L {
}
._card ._card_R {
}

._card ._imgAreaWrap {
  height: 150px;
  min-height: 150px;
  position: relative;
}
._card ._imgAreaWrap ._imgArea {
  min-height: inherit;
  margin: 0;
}
._card ._imgAreaWrap ._badge {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

._card ._cntArea {
}
._card ._cntArea ._subTxt {
  padding: 0 0 15px 0;
  font-size: 13px;
  font-weight: 400;
  color: var(--fntTxt03);
}
._card ._cntArea ._subTxt h3 {
  font-size: 13px;
  font-weight: 400;
}
._card ._cntArea ._tit {
  padding: 0 0 20px 0;
  font-size: 20px;
  font-weight: 700;
}

._card ._cntArea ._status {
}

._card ._cntArea > ul {
  padding: 15px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 400;
  color: var(--fntTxt03);
}

._card ._cntArea > ul > li {
  display: flex;
  margin-right: 30px;
}
._card ._cntArea > ul > li + li {
  margin-top: 7px;
}
._card ._cntArea > ul > li._wd,
._card ._cntArea > ul > li:last-child {
  margin-right: 0px;
}
._card ._cntArea > ul > li._wd {
  width: 100%;
}
._card ._cntArea > ul > li ._sTit {
  width: 90px;
  color: var(--fntMain);
  font-weight: 500;
}

._card ._actionArea {
  position: absolute;
  right: 10px;
  top: 10px;
}
._card ._actionArea ._action {
  width: 32px;
  height: 32px;
  background-color: var(--main01);
  border-radius: 50%;
}
._card ._actionArea ._actionBody {
  width: 100px;
  padding: 15px;
  background-color: var(--color06);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  z-index: 5;
  display: none;
}
._card ._actionArea .btn.active + ._actionBody {
  display: block;
}
._card ._actionArea ._actionBody button {
  color: var(--fntTxt03);
}
._card ._actionArea ._actionBody button.selected {
  color: var(--fntMain);
}

._card._x2 {
  display: flex;
}
._card._x2 ._card_L {
  width: 220px;
}
._card._x2 ._card_R {
  padding: 10px;
  flex: 1;
}

._targetSettingWrap {
  padding: 15px;
  border: 1px solid var(--line01);
  background-color: var(--white);
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

._targetSettingWrap ._SettingWrapHeader {
  padding: 0 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}
._targetSettingWrap ._SettingWrapHeader .util > .btn {
  height: auto;
  padding: 0;
  background-color: transparent;
  margin: 0 0 0 5px;
}
._targetSettingWrap ._SettingWrapHeader .util > .btn ._pannelRefresh {
  margin-top: -2px;
}
._targetSettingWrap ._SettingWrapHeader > h2.tit {
  font-size: 16px;
  font-weight: 700;
}

._targetSettingWrap ._SettingWrapBody {
  display: flex;
}

._targetSettingWrap ._SettingWrapBody .col_L,
._targetSettingWrap ._SettingWrapBody .col_R {
  padding: 15px;
  background-color: var(--color06);
}
._targetSettingWrap ._SettingWrapBody .col_L {
  flex: 1;
}
._targetSettingWrap ._SettingWrapBody .col_R {
  width: 25%;
  margin: 0 0 0 15px;
}

._setGroup {
}
._setGroup ._setGroupHeader {
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--line01);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._setGroup ._setGroupBody {
  /* padding: 0 10px; */
}
._setGroup ._setGroupHeader + ._setGroupBody {
  padding: 10px;
}
._setGroup ._setGroupBody ._groupItem + ._groupItem {
  margin: 10px 0 0 0;
}

._setGroup ._setGroupBody ._groupItem > h2 {
  padding: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
}
._setGroup ._setGroupBody ._groupItem > h2 .btn {
  width: 25px;
  height: 25px;
  background-color: var(--trans);
}
._setGroup ._setGroupBody ._groupItem > h2 .ico._close:before {
  background-image: url("../../assets/img/ico/d/ico_close2.svg");
}
._setGroup ._setGroupBody ._groupItem > ._groupItemBody {
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--line01);
}

._setGroup ._setGroupBody ._groupItem > ._groupItemBody ._item {
  font-weight: 400;
}
._setGroup ._setGroupBody ._groupItem ._itemInline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._setGroup ._setGroupBody ._groupItem ._itemInline ._txt {
  flex: 1;
}
._setGroup ._setGroupBody ._groupItem ._itemInline .comm_input {
  width: 70px;
  height: 29px;
  min-width: auto;
  padding: 0 10px;
  text-align: right;
  background-color: var(--white);
}
._setGroup ._setGroupBody ._groupItem > ._groupItemTotal {
  padding: 10px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._setGroupBody ._groupCheck {
  margin: 0 -10px 5px -10px;
}
._setGroupBody ._groupCheck + ._groupCheck {
  padding: 10px 0 0 0;
  border-top: 1px solid var(--line01);
}
._groupCheck ul {
  display: flex;
  flex-wrap: wrap;
}
._groupCheck ul li {
  width: 25%;
  margin: 0 0 5px 0;
}
