@charset "UTF-8";
._comp {
  /* min-height: 38px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

._comp._wide {
  display: block !important;
}
._comp._wide > ._body {
  width: 100%;
}

._comp ._fix9 {
  flex: 0.9;
}
._comp ._body {
  flex-shrink: 0;
  width: 60%;
  height: 100%;
  /* min-height: 38px; */
  position: relative;
}

._comp ._tit {
  padding: 5px 0 7px 0;
  display: block;
  font-size: 14px;
  color: var(--color05);
  flex: 0 0 auto;
  font-weight: 400;
}
._comp._wide > ._tit,
._comp ._tit._color01 {
  color: var(--color01);
  font-weight: 500;
}
._comp ._sbt01 {
  padding: 3px 0 0 0;
  font-size: 12px;
  color: var(--color05);
}
/* 컬러입력 */
.comp_colorInsert {
}

/* 투명도 조절 */
.comp_alphaRange {
}

/* 모서리 조절 */
.comp_radius {
}

/* 흐림효과 조절 */
.comp_blur {
}

/* 셀렉트 */
/* .comp_select {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
} */
/* .comp_select ._tit {
  flex: 0 0 auto;
} */
.comp_select ._selectOuter {
  min-height: 38px;
  position: relative;
}
.comp_select ._selectWrap {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--color06);
  border: 1px solid var(--line01);
  border-radius: 6px;
  z-index: 100;
}
.comp_select ._selectWrap._left {
  left: 0;
}
.comp_select ._selectWrap > ._header {
  width: 100%;
  height: inherit;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}
.comp_select ._selectWrap > ._header ._selectText {
  flex: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  color: var(--color05);
}
.comp_select ._selectWrap > ._header:after {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/ico/d/arrow_drop_down_b.svg");
}
.comp_select ._selectWrap > ._list {
  width: 100%;
  /* position: absolute; */
  /* left: 0; */
  display: none;
  /* background-color: var(--white); */
}
.comp_select ._selectWrap._active > ._list {
  display: block;
}
.comp_select ._selectWrap > ._list ._item {
  padding: 2px 10px;
  display: block;
  cursor: pointer;
}
.comp_select ._selectWrap > ._list ._item:hover,
.comp_select ._selectWrap > ._list ._item:focus {
  background-color: var(--color07);
}

.comp_select ._selectWrap > ._list ._item._selected {
  background-color: var(--color09);
  color: var(--white);
}

/* input + button형 */
.comp_inputAndButton {
}

.comp_inputAndButton ._inputAndButtonWrap {
  display: flex;
  justify-content: space-between;
}
.comp_inputAndButton ._inputAndButtonWrap .comm_input {
  flex-basis: 75%;
}
.comp_inputAndButton ._inputAndButtonWrap .btn {
  flex-basis: 24%;
}

/* textarea형 */
.comp_textarea {
}
.comp_textarea ._comp_textareaWrap {
  display: flex;
  justify-content: space-between;
}
.comp_textarea ._comp_textareaWrap .comm_input {
  height: 90px;
  padding: 15px;
  flex-basis: 100%;
}
.comp_textarea ._comp_textareaWrap .btn {
  flex-basis: 29%;
}

.comp_rangeSliderWrap {
  height: 70px;
  position: relative;
}
.comp_rangeSliderWrap ._rangeSlider {
  width: 100%;
  height: 10px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  background-color: var(--color07) !important;
}
.comp_rangeSliderWrap ._rangeSlider_handle {
  width: 0;
  height: inherit;
  background-color: var(--color09) !important;
  border-radius: 4px;
}
.comp_rangeSliderWrap ._rangeSlider_handle + .ui-slider-handle {
  width: 56px !important;
  height: 28px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  text-align: center;
  line-height: 1.6em;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  border-radius: 30px !important;
  -ms-touch-action: none;
  touch-action: none;
  line-height: 2;
  background-color: var(--color09) !important;
  color: var(--white) !important;
  border: none !important;
  outline: 0 !important;
}

.comp_textTyppingArea {
  background-color: var(--color07);
  border-radius: 20px;
}
.comp_textTyppingArea ._tit {
  padding: 10px 10px 0px 10px;
  font-size: 16px;
  color: var(--black1);
}
.comp_textTyppingArea ._typping {
  padding: 10px;
  color: var(--black1);
}

._extra_area {
  padding: 10px 0;
}

._tp_style .comp_textTyppingArea {
  margin: 0 0 40px 0;
}
._tp_style .comp_questArea {
  /* margin: 0 -15px; */
  padding: 25px;
  background-color: var(--color06);
  position: relative;
}

._tp_style .comp_questArea ._typping {
  min-height: 180px;
}

.comp_questArea {
  padding: 25px;
  background-color: var(--color06);
  position: relative;
}
.comp_questArea ._tit {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: var(--black1);
}

.comp_questArea ._typping {
  /* min-height: 180px; */
}

.comp_questArea ._status,
.comp_questArea ._actions {
  position: absolute;
  top: -15px;
}

.comp_questArea:hover ._status,
.comp_questArea:hover ._actions {
  display: block !important;
}

.comp_questArea ._status {
  left: 10px;
  display: none;
}

.comp_questArea ._actions {
  padding: 2px 10px;
  background-color: var(--color05);
  right: 10px;
  border-radius: 30px;
  top: -10px;
  display: none;
}

.comp_questArea ._actions > button {
  height: auto;
  padding: 0;
  background-color: transparent;
}

.comp_questArea ._actions > button.btn .ico:before {
  background-size: auto;
}

.comp_itemList {
  background-color: var(--color08);
  border: 1px solid var(--line01);
}
.comp_itemList > ._item {
  min-height: 36px;
  display: flex;
  align-items: center;
}

.comp_itemList > ._item > ._itemClick {
  width: 100%;
  height: inherit;
  padding: 7px;
  text-align: left;
  font-weight: 500;
}
.comp_itemList > ._item:hover,
.comp_itemList > ._item:hover > ._itemClick {
  color: var(--main01);
}
.comp_itemList > ._item + ._item {
  border-top: 1px solid var(--line01);
}

.comp_itemList > ._item._inAction ._itemArea {
  min-height: 36px;
  display: flex;
  align-items: center;
  padding: 0 8px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.comp_itemList > ._item._inAction .btn {
  height: auto;
  padding: 5px;
  background-color: transparent;
}
.comp_itemList > ._item._inAction .btn .ico:before {
  background-size: auto;
}

.comp_itemList > ._item._logic,
.comp_itemList > ._item._inAction {
  display: block;
}

.comp_itemList > ._item._inAction._logic .setting_preView_wrap {
  width: 100%;
  padding: 10px;
  border-top: 1px solid var(--line01);
  background-color: var(--color10);
}

.comp_itemList > ._item._inAction._logic .setting_preView_wrap .item_list {
  background-color: var(--color08);
  border: 1px solid var(--line01);
}
.comp_itemList
  > ._item._inAction._logic
  .setting_preView_wrap
  .item_list
  .item {
  padding: 5px 10px;
  display: flex;
  font-size: 13px;
  color: var(--color05);
  font-weight: 400;
}
.comp_itemList
  > ._item._inAction._logic
  .setting_preView_wrap
  .item_list
  .item
  h2 {
  width: 50px;
  font-size: 13px;
}
.comp_itemList
  > ._item._inAction._logic
  .setting_preView_wrap
  .item_list
  .item
  + .item {
  border-top: 1px solid var(--line01);
}
.comp_itemList
  > ._item._inAction._logic
  .setting_preView_wrap
  .item_list
  .item
  .end {
  margin-left: auto;
}

.comp_basicList {
  padding: 10px;
  border-bottom: 1px solid var(--line01);
}
.comp_basicList ._item {
  padding: 5px 0;
}

._itemAddDelWrap {
}
.comp_itemAddDelWrap ._itemAddDelBody {
  display: flex;
  position: relative;
}
.comp_itemAddDelWrap ._itemAddDelBody ._first {
  flex: 1;
}
.comp_itemAddDelWrap ._itemAddDelBody ._btn_g {
  display: flex;
  padding: 0 0 0 5px;
}

.comp_fluid {
  display: flex;
  justify-content: space-between;
}
.comp_fluid._col_4_6 ._item:first-child {
  width: 40%;
}
.comp_fluid._col_4_6 ._item:first-child + ._item {
  width: 59%;
}
.comp_fluid ._item {
}

._cr_listWrap {
}
._cr_listWrap > ._cr_item {
  padding: 5px 0;
}
._cr_listWrap > ._cr_item ._cr_itemChild {
  padding: 5px 0 5px 22px;
}
._inp_color {
}
._inp_color .comm_input {
  width: 100%;
  padding: 0;
  border: none;
}
