@charset "UTF-8";

/*///// datepicker 달력 /////*/
.ui-widget {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.ui-widget-content {
  border-color: #252c52 !important;
  background: #fff !important;
  padding: 0px 10px 10px !important;
}
.ui-widget-header .ui-state-default {
  border: none !important;
  background: none !important;
  font-weight: 400 !important;
  color: #666 !important;
}
.ui-widget-header {
  padding: 10px 0 !important;
  border: none !important;
  background: #f5f6f9 !important;
  color: #000 !important;
  font-size: 14px;
  font-weight: 600 !important;
  margin: 0 -10px 0 -10px;
}
.ui-datepicker table {
  font-size: 12px !important;
  margin: 0 !important;
  table-layout: fixed;
}
.ui-datepicker td span,
.ui-datepicker td a {
  width: 24px;
  height: 20px;
  margin: 0 auto;
  border-radius: 2%;
  background: none !important;
  border: none !important;
  line-height: 1.6;
  text-align: center !important;
  color: #6a6e87 !important;
  font-weight: 200 !important;
}
.ui-datepicker th {
  /* font-weight:300 !important; */
  font-size: 12px;
  text-transform: uppercase;
}
.ui-datepicker td {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
.ui-datepicker td a.ui-state-active {
  background: #252c52 !important;
  color: #fff !important;
}
.ui-datepicker td.ui-datepicker-today a.ui-state-highlight,
.ui-datepicker td a:hover {
  background: #f5f6f9 !important;
  color: #252c52 !important;
}
.ui-icon {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: 8px !important;
  cursor: pointer;
  border-radius: 50%;
}
.ui-datepicker .ui-datepicker-prev {
  left: 10px !important;
}
.ui-datepicker .ui-datepicker-next {
  right: 10px !important;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  width: 24px !important;
  height: 24px !important;
  position: static !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  font-size: 0;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: none !important;
  background: none !important;
  font-weight: bold;
  color: #c77405;
}
.ui-datepicker .ui-datepicker-next-hover {
  top: 8px !important;
  right: 10px !important;
}
.ui-datepicker .ui-datepicker-prev-hover {
  top: 8px !important;
  left: 10px !important;
}
.ui-datepicker-prev .ui-icon {
  transform: rotate(180deg);
}
.ui-datepicker-prev .ui-icon,
.ui-datepicker-next .ui-icon {
  opacity: 0.5;
  background: url(../../assets/img/ico_right.png) no-repeat 50% 50% !important;
}
.ui-datepicker-prev .ui-icon:hover,
.ui-datepicker-next .ui-icon:hover {
  opacity: 1;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: #e7e7e7 !important;
}
.ui-datepicker td:first-child a {
  color: #eb0f33 !important;
}
.ui-datepicker td:nth-child(7) a {
  color: #00bfff !important;
}

.daterangepicker .drp-buttons .btn {
  width: 60px;
  border-radius: 4px;
}
