@charset "utf-8";

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/NotoSansKR-Regular.eot"); /* IE9 Compat Modes */
  src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"),
    url("./fonts/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/NotoSansKR-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/NotoSansKR-Regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/NotoSansKR-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/NotoSansKR-Regular.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/NotoSansKR-Medium.eot"); /* IE9 Compat Modes */
  src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium"),
    url("./fonts/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/NotoSansKR-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/NotoSansKR-Medium.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/NotoSansKR-Medium.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/NotoSansKR-Medium.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/NotoSansKR-Bold.eot"); /* IE9 Compat Modes */
  src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold"),
    url("./fonts/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/NotoSansKR-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/NotoSansKR-Bold.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/NotoSansKR-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/NotoSansKR-Bold.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/*=================================================================================
 * Default Tag Style
 =================================================================================*/
html {
  height: 100%;
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg);
}
body {
  height: 100%;
  font-size: 13px;
  color: var(--fntMain);
  font-family: "Noto Sans KR", "Malgun Gothic", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}
div,
ol,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset,
p,
a,
iframe,
span,
img,
input,
table,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  color: var(--color01);
}
ol,
ul {
  list-style: none;
}
fieldset {
  border: none;
}
legend,
caption {
  display: none;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
img {
  border: 0;
  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
}

input,
select,
textarea,
button,
input.button,
input.check,
input.radio {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", "Malgun Gothic", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  vertical-align: middle;
  font-weight: 700;
  font-size: 13px;
  color: var(--color01);
}

input.text,
textarea.text {
  border-top: 1px solid #a2a2a2;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #a2a2a2;
  padding: 4px 0 7px 5px;
}
input.text {
  width: 200px;
}
input.check {
  vertical-align: middle;
  margin-top: -2px;
}
input[type="radio"] {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 2px;
}
input[type="checkbox"] {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 2px;
}
input[type="text"]:disabled,
select:disabled {
  background: #eee;
}
input.file {
  height: 25px;
}
input.button {
  height: 23px;
  padding: 0 10px 0 10px;
  margin-left: 2px;
}
button {
  cursor: pointer;
  border: 1px solid transparent;
  background: none;
  color: var(--color01);
  padding: 0;
  margin: 0;
}
button:focus {
  outline: 0;
}

a:link,
a:visited {
  color: var(--color01);
  text-decoration: none;
}
a:hover,
a:active {
  color: var(--color01);
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}

:before,
:after {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 13px;
  color: var(--color05);
  font-weight: 400;
}
textarea::-webkit-input-placeholder {
  font-size: 13px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 13px;
  color: var(--color05);
  font-weight: 400;
}
textarea:-ms-input-placeholder {
  font-size: 13px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
