@charset "UTF-8";

.user_top {
}
.user_contents {
}
.user_poll_body {
}
.user_footer {
}

._userComp {
  /* min-height: 38px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
div[class^="_comp"] .btn {
  border-radius: 6px;
}

._f1 {
  flex: 1 !important;
}

._columnGroup > ._userComp + ._userComp {
  margin-top: 7px;
}

._userComp._wide {
  display: block !important;
}
._inline {
  display: flex !important;
}
._userComp._wide > ._body {
  width: 100%;
}

._userComp._block {
  display: block !important;
}
._userComp._block > ._body {
  min-width: 150px;
}
._userComp._lager > ._body > ._selectOuter {
  min-height: 50px;
}
._userComp ._fix9 {
  flex: 0.9;
}
._userComp ._body {
  flex-shrink: 0;
  width: 60%;
  height: 100%;
  /* min-height: 38px; */
  position: relative;
}

._userComp ._tit {
  padding: 5px 7px 7px 0;
  display: block;
  font-size: 14px;
  color: var(--color05);
  flex: 0 0 auto;
  font-weight: 400;
}
._userComp._wide > ._tit,
._userComp ._tit._color01 {
  color: var(--color01);
  font-weight: 500;
}
._userComp ._sbt01 {
  padding: 3px 0 0 0;
  font-size: 12px;
  color: var(--color05);
}

._userComp_select ._selectOuter {
  min-height: 38px;
  position: relative;
}
._userComp_select ._selectWrap {
  width: 100%;
  min-height: inherit;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--color06);
  border: 1px solid var(--line01);
  border-radius: 6px;
  z-index: 100;
}
._userComp_select ._selectWrap._active {
  z-index: 110;
}
._userComp_select ._selectWrap._left {
  left: 0;
}
._userComp_select ._selectWrap > ._header {
  width: 100%;
  min-height: inherit;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}
._userComp_select ._selectWrap > ._header ._selectText {
  flex: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  color: var(--color05);
}
._userComp_select ._selectWrap > ._header:after {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/ico/d/arrow_drop_down_b.svg");
}
._userComp_select ._selectWrap > ._list {
  width: 100%;
  padding: 0 0 10px 0;
  /* position: absolute; */
  /* left: 0; */
  display: none;
  /* background-color: var(--white); */
}
._userComp_select ._selectWrap > ._header._active + ._list {
  display: block;
}
._userComp_select ._selectWrap > ._list ._item {
  padding: 4px 10px;
  display: block;
  cursor: pointer;
}
._userComp_select ._selectWrap > ._list ._item:hover,
._userComp_select ._selectWrap > ._list ._item:focus {
  background-color: var(--color07);
}

._userFromto {
}
._userFromto > div:first-child,
._userFromto > div:last-child {
  width: 48%;
}
._userFromto > div:first-child > ._body,
._userFromto > div:last-child > ._body {
  flex: 1;
}
._userFromto ._space {
  margin: 0 10px;
}

._userTargetAdd {
  width: 100%;
  height: 47px;
  background-color: var(--color06);
  justify-content: left;
}
._userTargetAdd .ico {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
._userTargetAdd .ico:before {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/img/ico/d/ico_plus.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

._userComp_select ._selectWrap > ._list ._item._selected {
  background-color: var(--color09);
  color: var(--white);
}

/* input + button형 */
._userComp_inputAndButton {
}

._userComp_inputAndButton ._inputAndButtonWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._userComp_inputAndButton ._inputAndButtonWrap .comm_input {
  /* flex-basis: 75%; */
  flex: 0.98;
}
._userComp_inputAndButton ._inputAndButtonWrap .btn {
  flex-basis: 24%;
  /* flex-basis: auto; */
}

._userComp_input {
}
._userComp_textarea ._userComp_inputWrap {
  display: flex;
  justify-content: space-between;
}

/* textarea형 */
._userComp_textarea {
}
._userComp_textarea ._userComp_textareaWrap {
  display: flex;
  justify-content: space-between;
}
._userComp_textarea ._userComp_textareaWrap .comm_input {
  height: 90px;
  padding: 15px;
  flex-basis: 100%;
}
._userComp_textarea ._userComp_textareaWrap .btn {
  flex-basis: 29%;
}

._userComp_rangeSliderWrap {
  position: relative;
}
._userComp_rangeSliderWrap ._rangeSliderOuter {
  /* height: 50px; */
  padding: 10px 0 30px 0;
}
._userComp_rangeSliderWrap ._rangeSlider {
  width: 100%;
  height: 10px !important;
  position: relative;
  top: 10px;
  /* transform: translateY(-50%); */
  text-align: left;
  background-color: var(--color07) !important;
}
._userComp_rangeSliderWrap ._rangeSlider_handle {
  width: 0;
  height: inherit;
  background-color: var(--color09) !important;
  border-radius: 4px;
}
._userComp_rangeSliderWrap ._rangeSlider_handle + .ui-slider-handle {
  width: 56px !important;
  height: 28px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  text-align: center;
  line-height: 1.6em;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  border-radius: 30px !important;
  -ms-touch-action: none;
  touch-action: none;
  line-height: 2;
  background-color: var(--color09) !important;
  color: var(--white) !important;
  border: none !important;
  outline: 0 !important;
}

._userComp_rangeSliderWrap._tp01 {
  height: 130px;
}
._userComp_rangeSliderWrap._tp01 ._rangeSlider_handle + .ui-slider-handle {
  width: 26px !important;
  height: 26px !important;
}

._userComp_rangeSliderWrap._tp01 .sld_header {
  padding: 25px 0 0 0;
  display: flex;
  font-size: 16px;
}
._userComp_rangeSliderWrap._tp01 .sld_header > div {
  width: 50%;
  text-align: center;
}
._userComp_textTyppingArea {
  background-color: var(--color07);
  border-radius: 20px;
}
._userComp_textTyppingArea ._tit {
  padding: 10px 10px 0px 10px;
  font-size: 16px;
  color: var(--black1);
}
._userComp_textTyppingArea ._typping {
  padding: 10px;
  color: var(--black1);
}

._userComp_textTyppingArea ._extra_area {
  padding: 0;
}

._extra_area {
  padding: 10px 0;
}

._tp_user_style .comp_textTyppingArea {
  /* margin: 0 0 40px 0; */
}
._tp_user_style .comp_questArea {
  /* margin: 0 -15px; */
  padding: 25px;
  position: relative;
  background-color: var(--white);
}

._tp_user_style .comp_questArea ._typping {
  /* min-height: 180px;
  padding: 10px 0; */
  padding: 0 0 10px 0;
}

._userPollSubject {
  font-size: 20px;
  color: var(--black1);
}

._userComp_questArea {
  padding: 15px;
  position: relative;
}
._userComp_questArea > ._tit {
  margin: 0 0 5px 0;
  font-size: 15px;
  color: var(--black1);
}

._userComp_questArea > ._tit .qnum {
  padding: 0 0 5px 0;
  font-size: 14px;
  font-weight: 700;
  color: var(--color09);
}

._userComp_questArea ._questInfoArea {
  padding: 15px 0 0 0;
}
._userComp_questArea ._questInfoArea > ._stxt {
  padding: 0 0 5px 0;
}
._userComp_questArea ._questInfoArea > ._tit {
  font-size: 20px;
}
._userComp_questArea ._questInfoArea > ._dateRange {
  color: var(--fntTxt03);
  font-weight: 400;
}

._userComp_questArea ._questInfoArea._tpTop {
  padding: 0 0 15px 0;
  text-align: center;
}
._userComp_questArea ._questInfoArea._tpTop > ._stxt {
}
._userComp_questArea ._questInfoArea._tpTop > ._tit {
  padding: 0 0 15px 0;
}
._userComp_questArea ._questInfoArea._tpTop > ._dateRange {
}

._userComp_questArea ._agreeArea > ._stxt {
  color: var(--fntTxt03);
  font-weight: 400;
}
._userComp_questArea ._agreeArea > ._tit {
  padding: 0 0 10px 0;
  font-size: 18px;
}

._userComp_questArea ._agreeArea ._agreeAreaBody {
  height: 150px;
  padding: 15px;
  margin-top: 10px;
  background-color: var(--white);
  border: 1px solid var(--line01);
  border-radius: 10px;
}

._userComp_questArea ._extra_area {
  padding: 0;
  margin: 25px -25px 0 -25px;
}

._userComp_questArea ._questContent {
  padding: 5px 0;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

._userComp_questArea ._extra_area .btn {
  /* background-color: var(--trans); */
}

._userComp_questArea ._typping {
  /* min-height: 180px; */
}

._userComp_questArea ._status,
._userComp_questArea ._actions {
  position: absolute;
  top: -15px;
}

._userComp_questArea:hover ._status,
._userComp_questArea:hover ._actions {
  display: block !important;
}

._userComp_questArea ._status {
  left: 10px;
  display: none;
}

._userComp_questArea ._actions {
  padding: 2px 10px;
  background-color: var(--color05);
  right: 10px;
  border-radius: 30px;
  top: -10px;
  display: none;
}

._userComp_questArea ._actions > button {
  height: auto;
  padding: 0;
  background-color: transparent;
}

._userComp_questArea ._actions > button.btn .ico:before {
  background-size: auto;
}

._userComp_itemList {
  background-color: var(--color08);
  border: 1px solid var(--line01);
}
._userComp_itemList > ._item {
  min-height: 36px;
  display: flex;
  align-items: center;
}

._userComp_itemList > ._item > ._itemClick {
  width: 100%;
  height: inherit;
  padding: 7px;
  text-align: left;
  font-weight: 500;
}
._userComp_itemList > ._item:hover,
._userComp_itemList > ._item:hover > ._itemClick {
  color: var(--main01);
}
._userComp_itemList > ._item + ._item {
  border-top: 1px solid var(--line01);
}

._userComp_itemList > ._item._inAction ._itemArea {
  min-height: 36px;
  display: flex;
  align-items: center;
  padding: 0 8px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
._userComp_itemList > ._item._inAction .btn {
  height: auto;
  padding: 5px;
  background-color: transparent;
}
._userComp_itemList > ._item._inAction .btn .ico:before {
  background-size: auto;
}

._userComp_itemList > ._item._logic,
._userComp_itemList > ._item._inAction {
  display: block;
}

._userComp_itemList > ._item._inAction._logic .setting_preView_wrap {
  width: 100%;
  padding: 10px;
  border-top: 1px solid var(--line01);
  background-color: var(--color10);
}

._userComp_itemList > ._item._inAction._logic .setting_preView_wrap .item_list {
  background-color: var(--color08);
  border: 1px solid var(--line01);
}
._userComp_itemList > ._item._inAction._logic .setting_preView_wrap .item_list .item {
  padding: 5px 10px;
  display: flex;
  font-size: 13px;
  color: var(--color05);
  font-weight: 400;
}
._userComp_itemList > ._item._inAction._logic .setting_preView_wrap .item_list .item h2 {
  width: 50px;
  font-size: 13px;
}
._userComp_itemList > ._item._inAction._logic .setting_preView_wrap .item_list .item + .item {
  border-top: 1px solid var(--line01);
}
._userComp_itemList > ._item._inAction._logic .setting_preView_wrap .item_list .item .end {
  margin-left: auto;
}

._userComp_basicList {
  padding: 10px;
  border-bottom: 1px solid var(--line01);
}
._userComp_basicList ._item {
  padding: 5px 0;
}

._itemAddDelWrap {
}
._userComp_itemAddDelWrap ._itemAddDelBody {
  display: flex;
  position: relative;
}
._userComp_itemAddDelWrap ._itemAddDelBody ._first {
  flex: 1;
}
._userComp_itemAddDelWrap ._itemAddDelBody ._btn_g {
  display: flex;
  padding: 0 0 0 5px;
}

._userComp_fluid {
  display: flex;
  justify-content: space-between;
}
._userComp_fluid._col_4_6 ._item:first-child {
  width: 40%;
}
._userComp_fluid._col_4_6 ._item:first-child + ._item {
  width: 59%;
}
._userComp_fluid ._item {
}

._userCr_listWrap._cols {
  display: flex;
}
._userCr_listWrap._cols > ._cr_item {
  flex: 1;
}
._userCr_listWrap > ._cr_item {
  padding: 5px 0;
}
._userCr_listWrap > ._cr_item .check_b_wrap .ico:before {
  background-image: url(../../assets/img/ico/d/ico_unChk_dis.svg);
}
._userCr_listWrap > ._cr_item ._cr_itemChild {
  padding: 5px 0 5px 22px;
}
._inp_color {
}

._userInp_color .comm_input {
  width: 100%;
  /* padding: 0; */
  text-align: right;
  /* border: none; */
}

._userComp_answerAddWrap {
}
._userComp_answerAddWrap ._answerAddItemOuter {
}
._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem,
._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._filedInp {
  display: flex;
}
._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._filedInp {
  margin-bottom: 4px;
}

._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem._tpMedia {
}

._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem._tpMedia ._filed {
  width: calc(100% - 76px);
  padding: 0 0 0 5px;
  display: flex;
  flex-direction: column;
}
._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem._tpMedia ._image {
  flex: 1;
  border-radius: 6px;
  background-color: var(--color06);
  border: 1px solid var(--line01);
  background-image: url(../../assets/img/ico/d/ico_noimage.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 19px 15px;
}

._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem + ._answerAddItem {
  margin-top: 5px;
}
._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._handle {
  width: 17px;
  background-image: url(../../assets/img/ico/d/ico_handle.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-size: 0;
  background-color: var(--color06);
  border: 1px solid var(--line01);
  border-radius: 6px;
  cursor: move;
}
._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._inp_wrap {
  width: calc(100% - 80px);
  margin: 0 0 0 4px;
  display: flex;
}
._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._inp_wrap .comm_input._tp_txt {
  flex: 1;
}
._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._inp_wrap .comm_input._tp_num {
  width: 40px;
  min-width: 40px;
  margin: 0 0 0 5px;
  display: none;
}
._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._inp_wrap .comm_input._tp_score {
  width: 40px;
  min-width: 40px;
  padding: 0 5px;
  margin: 0 0 0 5px;
  text-align: center;
}
._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._inp_wrap .comm_input._tp_num._active {
  display: block;
}
._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._btn_g {
  display: flex;
  margin-left: auto;
  padding: 0 0 0 4px;
}
._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItem ._btn_g .btn {
  padding: 0 4px;
}
._userComp_answerAddWrap ._answerAddItemOuter ._answerAddItemPlaceholder {
  height: 36px;
  margin-bottom: 5px;
  background-color: var(--color06);
  border-radius: 6px;
}
._userComp_answerAddWrap ._answerAddItemOuter ._tpMedia + ._answerAddItemPlaceholder {
  height: 76px;
}

._userImgArea {
  min-height: 180px;
  margin: 10px 0 10px 0;
  background-color: var(--color07);
  background-image: url(../../assets/img/ico/d/ico_noimage.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 12px;
  overflow: hidden;
}
._userImgArea ._img {
}

._userAnswerListArea,
._userAnswerMultiListArea {
  margin: 5px 0 0 0;
}
._userAnswerListArea ._answerListItemOuter,
._userAnswerMultiListArea ._answerListItemOuter {
}
._userAnswerListArea ._answerListItemOuter ._answerListItem,
._userAnswerMultiListArea ._answerListItemOuter ._answerListItem {
  display: flex;
  align-items: center;
  padding: 7px 0;
}
._userAnswerListArea ._answerListItemOuter ._answerListItemEtc div.comm_input,
._userAnswerMultiListArea ._answerListItemOuter ._answerListItemEtc div.comm_input {
  background-color: var(--white);
}
._userAnswerListArea ._answerListItemOuter ._answerListItem ._ico,
._userAnswerMultiListArea ._answerListItemOuter ._answerListItem ._ico {
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 16px;
}

._userAnswerListArea._tpMedia,
._userAnswerMultiListArea._tpMedia {
  display: flex;
  flex-wrap: wrap;
}
._userAnswerListArea._tpMedia ._answerListItemOuter,
._userAnswerMultiListArea._tpMedia ._answerListItemOuter {
  width: 24%;
  padding: 5px;
  margin: 0 1% 0 0;
  border: 1px solid var(--line01);
  background-color: var(--white);
  border-radius: 6px;
}

._userAnswerListArea._tpMedia ._answerListItemOuter ._answerListItem,
._userAnswerMultiListArea._tpMedia ._answerListItemOuter ._answerListItem {
  padding: 0;
  flex-direction: column;
}

._userAnswerListArea._tpMedia ._answerListItemOuter ._answerListItem ._mediaImg,
._userAnswerMultiListArea._tpMedia ._answerListItemOuter ._answerListItem ._mediaImg {
  width: 100%;
  height: 100px;
  border: 1px solid var(--line01);
  background-color: var(--color07);
  background-image: url(../../assets/img/ico/d/ico_noimage.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 6px;
  overflow: hidden;
  background-size: 25px 24px;
}
._userAnswerListArea._tpMedia ._answerListItemOuter ._answerListItem ._infoTxt,
._userAnswerMultiListArea._tpMedia ._answerListItemOuter ._answerListItem ._infoTxt {
  padding: 7px 0;
  text-align: center;
  word-break: keep-all;
}

._userAnswerListArea ._answerListItemOuter ._answerListItem ._ico,
._userAnswerListArea._tpMedia ._answerListItemOuter ._answerListItem ._ico {
  background-image: url(../../assets/img/ico/d/ico_unRad.svg);
}
._userAnswerListArea._tpMedia ._answerListItemOuter ._answerListItem ._ico,
._userAnswerMultiListArea._tpMedia ._answerListItemOuter ._answerListItem ._ico {
  margin: 5px 0 5px 0;
}
._userAnswerListArea._tpMedia._1x,
._userAnswerMultiListArea._tpMedia._1x {
}
._userAnswerListArea._tpMedia._1x ._answerListItemOuter,
._userAnswerMultiListArea._tpMedia._1x ._answerListItemOuter {
  width: 100%;
  margin: 0 0 2% 0;
}

._userAnswerMultiListArea ._answerListItemOuter ._answerListItem ._ico,
._userAnswerMultiListArea._tpMedia ._answerListItemOuter ._answerListItem ._ico {
  background-image: url(../../assets/img/ico/d/ico_unChk.svg);
}

._userAnswerListArea._2x,
._userAnswerMultiListArea._2x {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

._userAnswerListArea._2x ._answerListItemOuter,
._userAnswerMultiListArea._2x ._answerListItemOuter {
  width: 49%;
  margin: 0 0 2% 0;
}
._userAnswerListArea._2x:not(._tpMedia) ._answerListItemOuter:last-child,
._userAnswerMultiListArea._2x:not(._tpMedia) ._answerListItemOuter:last-child {
  width: 100%;
}

._userDropDownArea {
  position: relative;
}
._userDropDownArea ._dropDownHeader {
  height: 50px;
  background-color: var(--white);
  border: 1px solid var(--line01);
  border-radius: 6px;
  display: flex;
  align-items: center;
  position: relative;
}
._userDropDownArea ._dropDownHeader ._txt {
  padding: 0 0 0 15px;
  font-size: 14px;
  color: var(--color05);
}
._userDropDownArea ._dropDownHeader ._arrow {
  width: 20px;
  height: 20px;
  background-image: url(../../assets/img/ico/d/arrow_drop_down_b.svg);
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
._userDropDownArea ._dropDownBody {
  padding: 10px 0;
  margin: 5px 0 0 0;
  background-color: var(--white);
  border: 1px solid var(--line01);
  border-radius: 6px;
}
._userDropDownArea ._dropDownBody ._dropDownItem {
  padding: 7px 15px;
}

._userComp_rangeShape {
  justify-content: flex-start;
}
._userComp_rangeShape ._tit {
  flex: 1;
}

._userComp_rangeShape ._ico {
  width: 36px;
  height: 36px;
  background-image: url(../../assets/img/ico/d/ico_range.svg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  font-size: 0;
}

._userAnswerRangeShape {
}
._userAnswerRangeShapeItemOuter {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
}
._userAnswerRangeShapeItemOuter:after {
  height: 1px;
  content: "";
  display: block;
  clear: both;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  background-color: var(--color03);
}

._userAnswerRangeShapeItemOuter ._answerRangeShapeItem {
  text-align: center;
  position: relative;
  z-index: 2;
}

._userAnswerRangeShapeItemOuter ._answerRangeShapeItem + ._answerRangeShapeItem {
  /* margin-left: 20px; */
}
._userAnswerRangeShapeItemOuter ._answerRangeShapeItem ._num {
  padding: 0 0 5px 0;
  display: block;
}
._userAnswerRangeShapeItemOuter ._answerRangeShapeItem ._shape {
  width: 32px;
  height: 32px;
  border: 2px solid var(--color03);
  background-color: var(--white);
  border-radius: 50%;
}

._userComp_star {
  justify-content: flex-start;
}
._userComp_star ._tit {
  flex: 1;
}
._userComp_star ._starBody {
  display: flex;
}
._userComp_star ._ico {
  width: 30px;
  height: 30px;
  background-image: url(../../assets/img/ico/d/ico_star.svg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 0;
}
._userComp_star ._ico + ._ico {
  margin-left: 5px;
}

._userAnswerStar {
  display: flex;
  position: relative;
  align-items: center;
}
._userAnswerStar ._score {
  padding: 0 0 0 20px;
}
._userAnswerStarItemOuter {
  display: flex;
  position: relative;
}

._userAnswerStarItemOuter ._answerStarItem + ._answerStarItem {
  margin-left: 40px;
}
._userAnswerStarItemOuter ._answerStarItem ._num {
}
._userAnswerStarItemOuter ._answerStarItem ._star:before {
  width: 60px;
  height: 60px;
  content: "";
  display: block;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
._userAnswerStarItemOuter ._answerStarItem:nth-child(1) ._star:before,
._userComp_star ._ico:nth-child(1) {
  background-image: url(../../assets/img/ico/d/ico_star01.svg);
}
._userAnswerStarItemOuter ._answerStarItem:nth-child(2) ._star:before,
._userComp_star ._ico:nth-child(2) {
  background-image: url(../../assets/img/ico/d/ico_star02.svg);
}
._userAnswerStarItemOuter ._answerStarItem:nth-child(3) ._star:before,
._userComp_star ._ico:nth-child(3) {
  background-image: url(../../assets/img/ico/d/ico_star03.svg);
}
._userAnswerStarItemOuter ._answerStarItem:nth-child(4) ._star:before,
._userComp_star ._ico:nth-child(4) {
  background-image: url(../../assets/img/ico/d/ico_star04.svg);
}
._userAnswerStarItemOuter ._answerStarItem:nth-child(5) ._star:before,
._userComp_star ._ico:nth-child(5) {
  background-image: url(../../assets/img/ico/d/ico_star05.svg);
}
._userAnswerStarItemOuter ._answerStarItem ._star > span {
  padding: 7px 0 0 0;
  display: block;
  text-align: center;
}

._userAnswerGridArea {
  border-top: 2px solid var(--color05);
  border-bottom: 2px solid var(--color05);
}

._userAnswerGridArea ._answerGridHeader {
  display: flex;
  align-items: center;
}
._userAnswerGridArea ._answerGridHeader ._colItemGroup ._colItem,
._userAnswerGridArea ._answerGridBody ._colItemGroup ._colItem {
  flex: 1;
  text-align: center;
}

._userAnswerGridArea ._colItem ._ico {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url(../../assets/img/ico/d/ico_unRad.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 16px;
}

._userAnswerGridArea._multi ._colItem ._ico {
  background-image: url(../../assets/img/ico/d/ico_unChk.svg);
}

._userAnswerGridArea ._colItem._blank,
._userAnswerGridArea ._colItem._quest {
  width: 20%;
}
._userAnswerGridArea ._answerGridBody ._answerGridRow {
  display: flex;
  align-items: center;
}
._userAnswerGridArea ._answerGridHeader ._headerItem {
}

._userAnswerGridArea ._answerGridBody {
}
._userAnswerGridArea ._answerGridBody ._answerGridRow {
  border-top: 1px solid var(--color07);
}

._userAnswerGridArea ._answerGridBody ._answerGridRow,
._userAnswerGridArea ._answerGridHeader {
  min-height: 40px;
}

._userAnswerGridArea ._answerGridHeader ._colItemGroup,
._userAnswerGridArea ._answerGridBody ._answerGridRow ._colItemGroup {
  flex: 1;
  display: flex;
}

._userTypingAnswerArea {
}
._userTypingAnswerArea ._typingAnswerBody {
  height: 230px;
  padding: 13px;
  background-color: var(--white);
  border: 1px solid var(--line01);
  border-radius: 6px;
}
._userTypingAnswerArea ._typingAnswerBody + p {
  padding: 3px 0 0 0;
  font-size: 12px;
  color: var(--color05);
  text-align: right;
}

._userTypingAnswerArea._short ._typingAnswerBody {
  height: 50px;
}

._userTypingAnswerArea._short ._types {
  display: flex;
  justify-content: space-between;
}
._userTypingAnswerArea._short ._types > ._item {
  width: 100%;
  display: flex;
  align-items: center;
}
._userTypingAnswerArea._short ._types > ._item > div {
  flex: 1;
}
._userTypingAnswerArea._short ._types > ._item > span {
  width: 50px;
  text-align: center;
}
._userTypingAnswerArea._short ._types ._typingAnswerBody {
}

._userTypingAnswerArea._short ._types._Number > ._item {
  width: 48%;
}

._userCard {
  padding: 10px;
  border: 1px solid var(--line01);
  background-color: var(--white);
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
._userCard ._tag {
  padding: 7px 0 0 0;
}

._userCard ._card_L {
}
._userCard ._card_R {
}

._userCard ._imgAreaWrap {
  height: 150px;
  min-height: 150px;
  position: relative;
}
._userCard ._imgAreaWrap ._imgArea {
  min-height: inherit;
  margin: 0;
}
._userCard ._imgAreaWrap ._badge {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

._userCard ._cntArea {
}
._userCard ._cntArea ._subTxt {
  padding: 0 0 15px 0;
  font-size: 13px;
  font-weight: 400;
  color: var(--fntTxt03);
}
._userCard ._cntArea ._subTxt h3 {
  font-size: 13px;
  font-weight: 400;
}
._userCard ._cntArea ._tit {
  padding: 0 0 20px 0;
  font-size: 20px;
  font-weight: 700;
}

._userCard ._cntArea ._status {
}

._userCard ._cntArea > ul {
  padding: 15px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 400;
  color: var(--fntTxt03);
}

._userCard ._cntArea > ul > li {
  display: flex;
  margin-right: 30px;
}
._userCard ._cntArea > ul > li + li {
  margin-top: 7px;
}
._userCard ._cntArea > ul > li._wd,
._userCard ._cntArea > ul > li:last-child {
  margin-right: 0px;
}
._userCard ._cntArea > ul > li._wd {
  width: 100%;
}
._userCard ._cntArea > ul > li ._sTit {
  width: 90px;
  color: var(--fntMain);
  font-weight: 500;
}

._userCard ._actionArea {
  position: absolute;
  right: 10px;
  top: 10px;
}
._userCard ._actionArea ._action {
  width: 32px;
  height: 32px;
  background-color: var(--main01);
  border-radius: 50%;
}
._userCard ._actionArea ._actionBody {
  width: 100px;
  padding: 15px;
  background-color: var(--color06);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  z-index: 5;
  display: none;
}
._userCard ._actionArea .btn.active + ._actionBody {
  display: block;
}
._userCard ._actionArea ._actionBody button {
  color: var(--fntTxt03);
}
._userCard ._actionArea ._actionBody button.selected {
  color: var(--fntMain);
}

._userCard._x2 {
  display: flex;
}
._userCard._x2 ._card_L {
  width: 220px;
}
._userCard._x2 ._card_R {
  padding: 10px;
  flex: 1;
}

._userTargetSettingWrap {
  padding: 15px;
  border: 1px solid var(--line01);
  background-color: var(--white);
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

._userTargetSettingWrap ._SettingWrapHeader {
  padding: 0 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}
._userTargetSettingWrap ._SettingWrapHeader .util > .btn {
  height: auto;
  padding: 0;
  background-color: transparent;
  margin: 0 0 0 5px;
}
._userTargetSettingWrap ._SettingWrapHeader .util > .btn ._pannelRefresh {
  margin-top: -2px;
}
._userTargetSettingWrap ._SettingWrapHeader > h2.tit {
  font-size: 16px;
  font-weight: 700;
}

._userTargetSettingWrap ._SettingWrapBody {
  display: flex;
}

._userTargetSettingWrap ._SettingWrapBody .col_L,
._userTargetSettingWrap ._SettingWrapBody .col_R {
  padding: 15px;
  background-color: var(--color06);
}
._userTargetSettingWrap ._SettingWrapBody .col_L {
  flex: 1;
}
._userTargetSettingWrap ._SettingWrapBody .col_R {
  width: 25%;
  margin: 0 0 0 15px;
}

._userSetGroup {
  height: calc(100% - 40px);
}
._userSetGroup ._setGroupHeader {
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--line01);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._userSetGroup ._setGroupBody {
  /* padding: 0 10px; */
}
._userSetGroup ._setGroupHeader + ._setGroupBody {
  padding: 10px;
}
._userSetGroup ._setGroupBody ._groupItem + ._groupItem {
  margin: 10px 0 0 0;
}

._userSetGroup ._setGroupBody ._groupItem > h2 {
  padding: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
}
._userSetGroup ._setGroupBody ._groupItem > h2 .btn {
  width: 25px;
  height: 25px;
  background-color: var(--trans);
}
._userSetGroup ._setGroupBody ._groupItem > h2 .ico._close:before {
  background-image: url("../../assets/img/ico/d/ico_close2.svg");
}
._userSetGroup ._setGroupBody ._groupItem > ._groupItemBody {
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--line01);
}

._userSetGroup ._setGroupBody ._groupItem > ._groupItemBody._previewBody > ._item + ._item {
  margin-top: 5px;
}

._userSetGroup ._setGroupBody ._groupItem > ._groupItemBody ._item {
  font-weight: 400;
}
._userSetGroup ._setGroupBody ._groupItem ._itemInline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._userSetGroup ._setGroupBody ._groupItem ._itemInline ._txt {
  flex: 1;
}
._userSetGroup ._setGroupBody ._groupItem ._itemInline .comm_input {
  width: 70px;
  height: 29px;
  min-width: auto;
  padding: 0 10px;
  text-align: right;
  background-color: var(--white);
}
._userSetGroup ._setGroupBody ._groupItem > ._groupItemTotal {
  padding: 10px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._userSetGroup ._setGroupBody ._groupCheck {
  margin: 0 -10px 5px -10px;
}
._userSetGroup ._setGroupBody ._groupCheck > ._tit {
  padding: 0 0 5px 0;
  font-size: 14px;
  font-weight: 500;
}
._userSetGroup ._setGroupBody ._groupCheck + ._groupCheck {
  padding: 10px 0 0 0;
  border-top: 1px solid var(--line01);
}
._userSetGroup ._setGroupBody ._groupCheck._tpSearch {
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--line01);
}
._userSetGroup ._setGroupBody ._groupCheck._tpSearch ~ ._groupCheck {
  border-top: none;
}

._userSetGroup ._setGroupBody ._groupCheck._tpSearch .comm_input,
._userSetGroup ._setGroupBody ._groupCheck._tpSearch ._selectWrap {
  height: 36px;
  background-color: var(--white);
}
._userSetGroup ._setGroupBody ._groupCheck._tpSearch .btn {
  flex-basis: 100px;
}

._userSetGroup ._setGroupHeader + ._setGroupBody._noborder ._groupCheck + ._groupCheck {
  border-top: none;
}
._userGroupCheck ul {
  display: flex;
  flex-wrap: wrap;
}
._userGroupCheck ul.selectCity._tpBlock {
  display: block;
}

._userGroupCheck ul li {
  width: 25%;
  margin: 0 0 5px 0;
}
._userGroupCheck ul._2x li {
  width: 50%;
}
._userGroupCheck ul._2x li:last-child ._cusChk {
  margin: 0;
}

._userGroupCheck .selectCity._tpAge li {
  width: 12.5%;
  margin: 0 5px 5px 0;
}
._userGroupCheck .selectCity._tpAge li .comm_input {
  text-align: center;
}
._userGroupCheck .selectCity._tpAge li .comm_input,
._userGroupCheck .selectCity._tpAge li .btn {
  min-width: auto;
  height: 40px;
  background-color: var(--white);
  border-radius: 6px;
}

._userGroupCheck ._serachWrap {
  position: relative;
  margin: 0 5px;
}
._userGroupCheck ._serachWrap ._searchResultBody {
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 37px;
  left: 0;
  background-color: var(--white);
  border: 1px solid var(--line01);
  border-radius: 6px;
  z-index: 5;
}
._userGroupCheck ._serachWrap ._searchResultBody .resultItem {
  padding: 5px 10px;
}
._userGroupCheck ._serachWrap ._searchResultBody .resultItem:hover {
  background-color: var(--color06);
}

._userTargetPop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
._userTargetPop ._userTargetSettingWrap {
  width: 950px;
}

._userAddressArea {
}

._userAddressArea > h2 {
  padding: 0 0 10px 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--black1);
}

._userAddressArea > p {
  padding: 0 0 10px 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--black1);
}
._userAddressArea > ._tabArea {
  padding: 0 0 15px 0;
  display: flex;
  justify-content: space-between;
}
._userAddressArea > ._tabArea > button {
  width: 49%;
  height: 50px;
  border-radius: 6px;
  background-color: var(--trans);
}
._userAddressArea > ._tabArea > button._active {
  background-color: var(--white);
}
._userAddressArea > ._tabBody {
}
._userAddressArea > ._tabBody > ._item {
}
._userAddressArea > ._tabBody > ._item .comm_input,
._userAddressArea > ._tabBody > ._item ._userComp_select ._selectWrap {
  background-color: var(--white);
}
._userAddressArea > ._tabBody > ._item + ._item {
  margin-top: 10px;
}
._userAddressAreaFooter {
  padding: 20px 0 0 0;
  text-align: center;
}
._userAddressAreaFooter > .btn {
  min-width: 80px;
  border-radius: 6px;
}

._userComp_guLineArea {
}
._userComp_guLineArea ._userComp_guLineBody {
  width: 100%;
  height: 36px;
  background-position: 0% 50%;
  background-repeat: repeat-x;
  background-image: url(../../assets/img/ico/d/ico_guLine.svg);
}
._userGuLine {
  width: 100%;
  height: 36px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/ico/d/ico_guLine.svg);
  background-size: 90%;
}

/*//////////////////////////////*/

._userPreviewArea {
  width: 360px;
  height: inherit;
  background-color: var(--white);
  border-left: 1px solid var(--line01);
  display: flex;
  flex-direction: column;
}

._userPreviewArea > ._pages_wrap {
  border-bottom: 1px solid var(--line01);
}
._userPreviewArea > ._pages_wrap,
._userPreviewArea > ._pages_wrap > ._pages {
  display: flex;
}
._userPreviewArea > ._pages_wrap > ._pages {
  position: relative;
  flex: 1;
  overflow: hidden;
}
._userPreviewArea > ._pages_wrap > ._pages ._pagesBody {
  position: absolute;
}

._userPreviewArea ._userPreviewBody {
  flex: 1;
}

._userPreviewArea ._userPreviewBtm {
}
._userPreviewArea ._userPreviewBtm {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--line01);
}
._userPreviewArea ._userPreviewBtm > div,
._userPreviewArea ._userPreviewBtm > div > button {
  width: 100%;
  height: inherit;
  border-radius: 0;
  font-size: 15px;
}
._userPreviewArea ._userPreviewBtm > div._col_l {
  width: 100px;
}
._userPreviewArea ._userPreviewBtm > div._col_r {
  flex: 1;
}

.userView_round {
  padding: 15px;
  background-color: var(--white);
}
.userView_round .lrSpace {
  padding: 0 15px;
}
.userView_round ._tp_full {
  margin: 0 -15px;
}
.userView_round .userView_round_header {
  padding: 0px 0 5px 0;
}
.userView_round .userView_round_header > .tit {
  font-size: 16px;
  color: var(--black1);
}
.userView_round .userView_round_body {
  /* min-height: 250px; */
}
.userView_round .subject._privateTit {
  padding: 5px 0 10px 0;
  font-size: 20px;
  color: var(--black1);
}
